# Task 14: Data cleaning and preprocessing with Pandas

# Dataset 1 --> emissions_EU28.csv

### Import Pandas and Load the Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, OneHotEncoder, PolynomialFeatures


df = pd.read_csv('emissions_EU28.csv')
print("Original DataFrame:")
print(df.head())
print(df.dtypes)

Original DataFrame:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000
airpol       object
cpa08        object
induse       object
origin       object
unit         object
geo\time     object
2018        float64
2017        float64
2016        float64
2015        float64
2014        float64
2013        float64
2012        float64
2011        float64
2010        float64
2009        float64
2008        float64
dtype: object

### 1. Identify Missing Values

In [2]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
airpol      0
cpa08       0
induse      0
origin      0
unit        0
geo\time    0
2018        0
2017        0
2016        0
2015        0
2014        0
2013        0
2012        0
2011        0
2010        0
2009        0
2008        0
dtype: int64

### 2. Drop Rows with Any Missing Values

In [3]:
df_no_missing_rows = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_no_missing_rows.head())

DataFrame after dropping rows with missing values:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

### 3. Drop Columns with Any Missing Values

In [4]:
df_no_missing_cols = df.dropna(axis=1)
print("\nDataFrame after dropping columns with missing values:")
print(df_no_missing_cols.head())

DataFrame after dropping columns with missing values:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

### 4. Fill Missing Values with a Specific Value

In [5]:
df_filled_value = df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_filled_value.head())

DataFrame after filling missing values with 0:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

### 5. Fill Missing Values Using Forward Fill and Backward Fill Methods

In [6]:
df_forward_fill = df.fillna(method='ffill')
print("\nDataFrame after forward fill:")
print(df_forward_fill.head())

# Backward fill missing values
df_backward_fill = df.fillna(method='bfill')
print("\nDataFrame after backward fill:")
print(df_backward_fill.head())

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\2793431106.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_fill = df.fillna(method='ffill')

DataFrame after forward fill:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\2793431106.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_fill = df.fillna(method='bfill')

DataFrame after backward fill:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

### 6. Interpolate Missing Values

In [7]:
df_interpolated = df.interpolate()
print("\nDataFrame after interpolating missing values:")
print(df_interpolated.head())

DataFrame after interpolating missing values:
  airpol    cpa08 induse origin    unit geo\time         2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        3.952        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  2027709.000  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     2027.709     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0.932        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   477994.000   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\3783148640.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

### 7. Convert a Column to a Different Data Type

In [8]:
df['2018'] = df['2018'].astype('int64')
print("\nDataFrame after converting '2018' column to integer type:")
print(df.dtypes)

DataFrame after converting '2018' column to integer type:
airpol       object
cpa08        object
induse       object
origin       object
unit         object
geo\time     object
2018          int64
2017        float64
2016        float64
2015        float64
2014        float64
2013        float64
2012        float64
2011        float64
2010        float64
2009        float64
2008        float64
dtype: object

### 8. Apply a Function to Transform the Values of a Column

In [9]:
df['2018'] = df['2018'].apply(lambda x: x * 2)
print("\nDataFrame after applying a function to '2018' column:")
print(df.head())

DataFrame after applying a function to '2018' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008
0        3.965        3.955        4.025        4.082
1  1996301.000  1992765.000  2023324.000  2046045.000
2     1996.301     1992.765     2023.324     2046.045
3        0.857        0.853        0.774        0.991
4   431637.000   429703.000   389072.000   496690.000

### 9. Normalize a Column Using Min-Max Scaling

In [10]:
df['2018_normalized'] = (df['2018'] - df['2018'].min()) / (df['2018'].max() - df['2018'].min())
print("\nDataFrame after Min-Max scaling of '2018' column:")
print(df.head())

DataFrame after Min-Max scaling of '2018' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

### 10. Standardize a Column (Z-Score Normalization)

In [11]:
df['2018_standardized'] = (df['2018'] - df['2018'].mean()) / df['2018'].std()
print("\nDataFrame after z-score normalization of '2018' column:")
print(df.head())

DataFrame after z-score normalization of '2018' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized
0          -0.033285
1           0.001351
2          -0.033251
3          -0.033285
4          -0.025120

### 11. Identify Duplicate Rows in the DataFrame

In [12]:
duplicates = df.duplicated()
print("\nDuplicate rows in the DataFrame:")
print(df[duplicates])

Duplicate rows in the DataFrame:
Empty DataFrame
Columns: [airpol, cpa08, induse, origin, unit, geo\time, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2018_normalized, 2018_standardized]
Index: []

### 12. Drop Duplicate Rows

In [13]:
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after dropping duplicate rows:")
print(df_no_duplicates.head())

DataFrame after dropping duplicate rows:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    ACG  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    ACG  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    ACG  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    ACG  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    ACG  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized
0          -0.033285
1           0.001351
2          -0.033251
3          -0.033285
4          -0.025120

### 13. Drop Duplicate Rows Based on Specific Columns

In [14]:
df_no_dup_specific = df.drop_duplicates(subset=['airpol', 'cpa08'])
print("\nDataFrame after dropping duplicate rows based on 'airpol' and 'cpa08':")
print(df_no_dup_specific.head())

DataFrame after dropping duplicate rows based on 'airpol' and 'cpa08':
    airpol       cpa08 induse origin    unit geo\time  2018   2017   2016  \
0      ACG     CPA_A01     P3    DOM  KG_HAB     EU28     6  4.034  3.952
108    ACG     CPA_A02     P3    DOM  KG_HAB     EU28     0  0.019  0.018
216    ACG     CPA_A03     P3    DOM  KG_HAB     EU28     0  0.104  0.111
324    ACG       CPA_B     P3    DOM  KG_HAB     EU28     0  0.019  0.017
432    ACG  CPA_C10-12     P3    DOM  KG_HAB     EU28    10  5.429  6.062

      2015   2014   2013   2012   2011   2010   2009   2008  2018_normalized  \
0    3.901  3.824  4.182  4.260  3.965  3.955  4.025  4.082         0.002689
108  0.021  0.017  0.017  0.017  0.018  0.020  0.021  0.022         0.002689
216  0.088  0.097  0.108  0.108  0.111  0.130  0.137  0.130         0.002689
324  0.023  0.016  0.020  0.017  0.022  0.032  0.035  0.039         0.002689
432  5.752  5.873  6.135  6.249  6.170  6.442  6.808  6.603         0.002689

     2018_standardized
0            -0.033285
108          -0.033285
216          -0.033285
324          -0.033285
432          -0.033285

### 14. Convert All String Values in a Column to Lowercase

In [15]:
df['airpol'] = df['airpol'].str.lower()
print("\nDataFrame after converting 'airpol' column to lowercase:")
print(df.head())

DataFrame after converting 'airpol' column to lowercase:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized
0          -0.033285
1           0.001351
2          -0.033251
3          -0.033285
4          -0.025120

### 15. Remove Leading and Trailing Spaces from String Values in a Column

In [16]:
df['airpol'] = df['airpol'].str.strip()
print("\nDataFrame after removing leading and trailing spaces from 'airpol' column:")
print(df.head())

DataFrame after removing leading and trailing spaces from 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized
0          -0.033285
1           0.001351
2          -0.033251
3          -0.033285
4          -0.025120

### 16. Replace a Specific Substring in a Column with Another Substring

In [17]:
df['airpol'] = df['airpol'].str.replace('co2', 'CO2')
print("\nDataFrame after replacing 'co2' with 'CO2' in 'airpol' column:")
print(df.head())

DataFrame after replacing 'co2' with 'CO2' in 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized
0          -0.033285
1           0.001351
2          -0.033251
3          -0.033285
4          -0.025120

### 17. Extract a Substring from Each Value in a Column

In [18]:
df['airpol_substring'] = df['airpol'].str[:3]
print("\nDataFrame after extracting first 3 characters of 'airpol' column:")
print(df.head())

DataFrame after extracting first 3 characters of 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015         2014         2013         2012  \
0        3.952        3.901        3.824        4.182        4.260
1  2018821.000  1986991.000  1942285.000  2116310.000  2149511.000
2     2018.821     1986.991     1942.285     2116.310     2149.511
3        0.862        0.898        0.732        0.706        0.762
4   440390.000   457340.000   371967.000   357358.000   384481.000

          2011         2010         2009         2008  2018_normalized  \
0        3.965        3.955        4.025        4.082         0.002689
1  1996301.000  1992765.000  2023324.000  2046045.000         0.003056
2     1996.301     1992.765     2023.324     2046.045         0.002690
3        0.857        0.853        0.774        0.991         0.002689
4   431637.000   429703.000   389072.000   496690.000         0.002776

   2018_standardized airpol_substring
0          -0.033285              acg
1           0.001351              acg
2          -0.033251              acg
3          -0.033285              acg
4          -0.025120              acg

### 18. Convert a Column to Datetime Format

In [19]:
df['date'] = pd.to_datetime('2020-01-01')
print("\nDataFrame after adding 'date' column:")
print(df.head())

DataFrame after adding 'date' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...         2013         2012         2011  \
0        3.952        3.901  ...        4.182        4.260        3.965
1  2018821.000  1986991.000  ...  2116310.000  2149511.000  1996301.000
2     2018.821     1986.991  ...     2116.310     2149.511     1996.301
3        0.862        0.898  ...        0.706        0.762        0.857
4   440390.000   457340.000  ...   357358.000   384481.000   431637.000

          2010         2009         2008  2018_normalized  2018_standardized  \
0        3.955        4.025        4.082         0.002689          -0.033285
1  1992765.000  2023324.000  2046045.000         0.003056           0.001351
2     1992.765     2023.324     2046.045         0.002690          -0.033251
3        0.853        0.774        0.991         0.002689          -0.033285
4   429703.000   389072.000   496690.000         0.002776          -0.025120

   airpol_substring       date
0               acg 2020-01-01
1               acg 2020-01-01
2               acg 2020-01-01
3               acg 2020-01-01
4               acg 2020-01-01

[5 rows x 21 columns]

### 19. Extract Year, Month, and Day from a Datetime Column

In [20]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
print("\nDataFrame after extracting year, month, and day from 'date' column:")
print(df.head())

DataFrame after extracting year, month, and day from 'date' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...         2010         2009         2008  \
0        3.952        3.901  ...        3.955        4.025        4.082
1  2018821.000  1986991.000  ...  1992765.000  2023324.000  2046045.000
2     2018.821     1986.991  ...     1992.765     2023.324     2046.045
3        0.862        0.898  ...        0.853        0.774        0.991
4   440390.000   457340.000  ...   429703.000   389072.000   496690.000

   2018_normalized  2018_standardized  airpol_substring       date  year  \
0         0.002689          -0.033285               acg 2020-01-01  2020
1         0.003056           0.001351               acg 2020-01-01  2020
2         0.002690          -0.033251               acg 2020-01-01  2020
3         0.002689          -0.033285               acg 2020-01-01  2020
4         0.002776          -0.025120               acg 2020-01-01  2020

   month day
0      1   1
1      1   1
2      1   1
3      1   1
4      1   1

[5 rows x 24 columns]

### 20. Filter Rows Based on a Date Range

In [21]:
df_date_filtered = df[(df['date'] >= '2010-01-01') & (df['date'] <= '2018-12-31')]
print("\nDataFrame after filtering rows based on date range 2010-2018:")
print(df_date_filtered.head())

DataFrame after filtering rows based on date range 2010-2018:
Empty DataFrame
Columns: [airpol, cpa08, induse, origin, unit, geo\time, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2018_normalized, 2018_standardized, airpol_substring, date, year, month, day]
Index: []

[0 rows x 24 columns]

### 21. Convert a Categorical Column to Numerical Using One-Hot Encoding

In [22]:
df_one_hot_encoded = pd.get_dummies(df, columns=['airpol'])
print("\nDataFrame after one-hot encoding 'airpol' column:")
print(df_one_hot_encoded.head())

DataFrame after one-hot encoding 'airpol' column:
     cpa08 induse origin    unit geo\time     2018         2017         2016  \
0  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034        3.952
1  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000  2018821.000
2  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165     2018.821
3  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930        0.862
4  CPA_A01     P3    ROW       T     EU28   955988   476142.000   440390.000

          2015         2014  ...  airpol_nh3_so2e  airpol_nmvoc  airpol_nox  \
0        3.901        3.824  ...            False         False       False
1  1986991.000  1942285.000  ...            False         False       False
2     1986.991     1942.285  ...            False         False       False
3        0.898        0.732  ...            False         False       False
4   457340.000   371967.000  ...            False         False       False

   airpol_nox_nmvoce  airpol_nox_so2e  airpol_o3pr  airpol_pfc_CO2e  \
0              False            False        False            False
1              False            False        False            False
2              False            False        False            False
3              False            False        False            False
4              False            False        False            False

   airpol_pm10 airpol_pm2_5 airpol_sox_so2e
0        False        False           False
1        False        False           False
2        False        False           False
3        False        False           False
4        False        False           False

[5 rows x 47 columns]

### 22. Convert a Categorical Column to Numerical Using Label Encoding

In [23]:
df['airpol_encoded'] = df['airpol'].astype('category').cat.codes
print("\nDataFrame after label encoding 'airpol' column:")
print(df.head())

DataFrame after label encoding 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...         2009         2008  2018_normalized  \
0        3.952        3.901  ...        4.025        4.082         0.002689
1  2018821.000  1986991.000  ...  2023324.000  2046045.000         0.003056
2     2018.821     1986.991  ...     2023.324     2046.045         0.002690
3        0.862        0.898  ...        0.774        0.991         0.002689
4   440390.000   457340.000  ...   389072.000   496690.000         0.002776

   2018_standardized  airpol_substring       date  year  month  day  \
0          -0.033285               acg 2020-01-01  2020      1    1
1           0.001351               acg 2020-01-01  2020      1    1
2          -0.033251               acg 2020-01-01  2020      1    1
3          -0.033285               acg 2020-01-01  2020      1    1
4          -0.025120               acg 2020-01-01  2020      1    1

  airpol_encoded
0              2
1              2
2              2
3              2
4              2

[5 rows x 25 columns]

### 23. Group Values in a Categorical Column and Create a New Column with Grouped Categories

In [24]:
def group_airpol(x):
    if x in ['co2', 'ch4']:
        return 'group1'
    else:
        return 'group2'

df['airpol_grouped'] = df['airpol'].apply(group_airpol)
print("\nDataFrame after grouping 'airpol' column:")
print(df.head())

DataFrame after grouping 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...         2008  2018_normalized  \
0        3.952        3.901  ...        4.082         0.002689
1  2018821.000  1986991.000  ...  2046045.000         0.003056
2     2018.821     1986.991  ...     2046.045         0.002690
3        0.862        0.898  ...        0.991         0.002689
4   440390.000   457340.000  ...   496690.000         0.002776

   2018_standardized  airpol_substring       date  year  month  day  \
0          -0.033285               acg 2020-01-01  2020      1    1
1           0.001351               acg 2020-01-01  2020      1    1
2          -0.033251               acg 2020-01-01  2020      1    1
3          -0.033285               acg 2020-01-01  2020      1    1
4          -0.025120               acg 2020-01-01  2020      1    1

   airpol_encoded airpol_grouped
0               2         group2
1               2         group2
2               2         group2
3               2         group2
4               2         group2

[5 rows x 26 columns]

### 24. Merge Two DataFrames Based on a Common Column

In [25]:
df2 = pd.DataFrame({
    'airpol': ['co2', 'ch4', 'n2o', 'co', 'nh3'],
    'description': ['Carbon Dioxide', 'Methane', 'Nitrous Oxide', 'Carbon Monoxide', 'Ammonia']
})

df_merged = pd.merge(df, df2, on='airpol')
print("\nMerged DataFrame based on 'airpol' column:")
print(df_merged.head())

Merged DataFrame based on 'airpol' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    ch4  CPA_A01     P3    DOM  KG_HAB     EU28        8        5.053
1    ch4  CPA_A01     P3    DOM       T     EU28  5113510  2586624.000
2    ch4  CPA_A01     P3    DOM   THS_T     EU28     5112     2586.624
3    ch4  CPA_A01     P3    ROW  KG_HAB     EU28        2        1.200
4    ch4  CPA_A01     P3    ROW       T     EU28  1238778   614328.000

          2016         2015  ...  2018_normalized  2018_standardized  \
0        4.948        4.888  ...         0.002689          -0.033285
1  2527350.000  2489581.000  ...         0.003151           0.010388
2     2527.350     2489.581  ...         0.002690          -0.033242
3        1.110        1.173  ...         0.002689          -0.033285
4   566745.000   597375.000  ...         0.002801          -0.022705

   airpol_substring       date  year  month  day  airpol_encoded  \
0               ch4 2020-01-01  2020      1    1               3
1               ch4 2020-01-01  2020      1    1               3
2               ch4 2020-01-01  2020      1    1               3
3               ch4 2020-01-01  2020      1    1               3
4               ch4 2020-01-01  2020      1    1               3

   airpol_grouped description
0          group1     Methane
1          group1     Methane
2          group1     Methane
3          group1     Methane
4          group1     Methane

[5 rows x 27 columns]

### 25. Concatenate Two DataFrames Vertically

In [26]:
df_concat_vert = pd.concat([df, df], axis=0)
print("\nDataFrame after vertical concatenation:")
print(df_concat_vert.head())

DataFrame after vertical concatenation:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...         2008  2018_normalized  \
0        3.952        3.901  ...        4.082         0.002689
1  2018821.000  1986991.000  ...  2046045.000         0.003056
2     2018.821     1986.991  ...     2046.045         0.002690
3        0.862        0.898  ...        0.991         0.002689
4   440390.000   457340.000  ...   496690.000         0.002776

   2018_standardized  airpol_substring       date  year  month  day  \
0          -0.033285               acg 2020-01-01  2020      1    1
1           0.001351               acg 2020-01-01  2020      1    1
2          -0.033251               acg 2020-01-01  2020      1    1
3          -0.033285               acg 2020-01-01  2020      1    1
4          -0.025120               acg 2020-01-01  2020      1    1

   airpol_encoded airpol_grouped
0               2         group2
1               2         group2
2               2         group2
3               2         group2
4               2         group2

[5 rows x 26 columns]

### 26. Concatenate Two DataFrames Horizontally

In [27]:
df_concat_horiz = pd.concat([df, df2], axis=1)
print("\nDataFrame after horizontal concatenation:")
print(df_concat_horiz.head())

DataFrame after horizontal concatenation:
   airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0     acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1     acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2     acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3     acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4     acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...  2018_standardized  airpol_substring  \
0        3.952        3.901  ...          -0.033285               acg
1  2018821.000  1986991.000  ...           0.001351               acg
2     2018.821     1986.991  ...          -0.033251               acg
3        0.862        0.898  ...          -0.033285               acg
4   440390.000   457340.000  ...          -0.025120               acg

        date  year  month  day  airpol_encoded  airpol_grouped  airpol  \
0 2020-01-01  2020      1    1               2          group2     co2
1 2020-01-01  2020      1    1               2          group2     ch4
2 2020-01-01  2020      1    1               2          group2     n2o
3 2020-01-01  2020      1    1               2          group2      co
4 2020-01-01  2020      1    1               2          group2     nh3

       description
0   Carbon Dioxide
1          Methane
2    Nitrous Oxide
3  Carbon Monoxide
4          Ammonia

[5 rows x 28 columns]

### 27. Create a New Column Based on Existing Columns

In [28]:
df['total_emissions'] = df[['2018', '2017', '2016', '2015', '2014']].sum(axis=1)
print("\nDataFrame after creating 'total_emissions' column:")
print(df.head())

DataFrame after creating 'total_emissions' column:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...  2018_normalized  2018_standardized  \
0        3.952        3.901  ...         0.002689          -0.033285
1  2018821.000  1986991.000  ...         0.003056           0.001351
2     2018.821     1986.991  ...         0.002690          -0.033251
3        0.862        0.898  ...         0.002689          -0.033285
4   440390.000   457340.000  ...         0.002776          -0.025120

   airpol_substring       date  year  month  day  airpol_encoded  \
0               acg 2020-01-01  2020      1    1               2
1               acg 2020-01-01  2020      1    1               2
2               acg 2020-01-01  2020      1    1               2
3               acg 2020-01-01  2020      1    1               2
4               acg 2020-01-01  2020      1    1               2

   airpol_grouped total_emissions
0          group2    2.171100e+01
1          group2    1.206868e+07
2          group2    1.206726e+04
3          group2    3.422000e+00
4          group2    2.701827e+06

[5 rows x 27 columns]

### 28. Discretize a Continuous Column into Bins

In [29]:
df['emission_bins'] = pd.cut(df['2018'], bins=3, labels=['Low', 'Medium', 'High'])
print("\nDataFrame after discretizing '2018' column into bins:")
print(df.head())

DataFrame after discretizing '2018' column into bins:
  airpol    cpa08 induse origin    unit geo\time     2018         2017  \
0    acg  CPA_A01     P3    DOM  KG_HAB     EU28        6        4.034
1    acg  CPA_A01     P3    DOM       T     EU28  4055418  2065165.000
2    acg  CPA_A01     P3    DOM   THS_T     EU28     4054     2065.165
3    acg  CPA_A01     P3    ROW  KG_HAB     EU28        0        0.930
4    acg  CPA_A01     P3    ROW       T     EU28   955988   476142.000

          2016         2015  ...  2018_standardized  airpol_substring  \
0        3.952        3.901  ...          -0.033285               acg
1  2018821.000  1986991.000  ...           0.001351               acg
2     2018.821     1986.991  ...          -0.033251               acg
3        0.862        0.898  ...          -0.033285               acg
4   440390.000   457340.000  ...          -0.025120               acg

        date  year  month  day  airpol_encoded  airpol_grouped  \
0 2020-01-01  2020      1    1               2          group2
1 2020-01-01  2020      1    1               2          group2
2 2020-01-01  2020      1    1               2          group2
3 2020-01-01  2020      1    1               2          group2
4 2020-01-01  2020      1    1               2          group2

   total_emissions emission_bins
0     2.171100e+01           Low
1     1.206868e+07           Low
2     1.206726e+04           Low
3     3.422000e+00           Low
4     2.701827e+06           Low

[5 rows x 28 columns]

### 29. Create Polynomial Features from Existing Numerical Columns

In [30]:
poly = PolynomialFeatures(degree=2)
poly_features = poly.fit_transform(df[['2018', '2017']])
df_poly = pd.DataFrame(poly_features, columns=['1', '2018', '2017', '2018^2', '2018*2017', '2017^2'])
print("\nDataFrame with polynomial features:")
print(df_poly.head())

DataFrame with polynomial features:
     1       2018         2017        2018^2     2018*2017        2017^2
0  1.0        6.0        4.034  3.600000e+01  2.420400e+01  1.627316e+01
1  1.0  4055418.0  2065165.000  1.644642e+13  8.375107e+12  4.264906e+12
2  1.0     4054.0     2065.165  1.643492e+07  8.372179e+06  4.264906e+06
3  1.0        0.0        0.930  0.000000e+00  0.000000e+00  8.649000e-01
4  1.0   955988.0   476142.000  9.139131e+11  4.551860e+11  2.267112e+11

# Dataset 2 --> final_book_dataset_kaggle2.csv

### Import Pandas and Load the Dataset

In [31]:
df = pd.read_csv('final_book_dataset_kaggle2.csv')
print("Initial DataFrame:")
print(df.head())
print(df.dtypes)

Initial DataFrame:
                                               title  \
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

                               author  price price (including used books)  \
0                 [ Dr Dhaval Maheta]   6.75                         6.75
1                                 NaN  33.72               21.49 - 33.72
2  [ Oz du Soleil,  and , Bill Jelen]  32.07                        32.07
3                 [ William McKinney]  53.99                        53.99
4                   [ Paul McFedries]  24.49                        24.49

  pages  avg_reviews n_reviews star5 star4 star3 star2 star1  \
0   500          4.4        23   55%   39%    6%   NaN   NaN
1   484          4.3       124   61%   20%    9%    4%    6%
2   274          4.7        10   87%   13%   NaN   NaN   NaN
3   547          4.6     1,686   75%   16%    5%    2%    2%
4   368          3.9        12   52%   17%   10%   10%   10%

                  dimensions       weight language  \
0     8.5 x 1.01 x 11 inches  2.53 pounds  English
1     8 x 0.98 x 9.25 inches  1.96 pounds  English
2  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3     7 x 1.11 x 9.19 inches  1.47 pounds  English
4  7.38 x 0.83 x 9.25 inches   1.3 pounds  English

                                           publisher         ISBN_13  \
0     Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1      O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2  Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3    O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4        For Dummies; 5th edition (February 3, 2022)  978-1119844426

                                                link  \
0  /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1  /Head-First-Data-Analysis-statistics/dp/059615...
2  /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3  /Python-Data-Analysis-Wrangling-IPython/dp/149...
4  /Excel-Data-Analysis-Dummies-Computer/dp/11198...

                                       complete_link
0  https://www.amazon.com/Data-Analysis-Using-Low...
1  https://www.amazon.com/Head-First-Data-Analysi...
2  https://www.amazon.com/Guerrilla-Analysis-Usin...
3  https://www.amazon.com/Python-Data-Analysis-Wr...
4  https://www.amazon.com/Excel-Data-Analysis-Dum...
title                            object
author                           object
price                           float64
price (including used books)     object
pages                            object
avg_reviews                     float64
n_reviews                        object
star5                            object
star4                            object
star3                            object
star2                            object
star1                            object
dimensions                       object
weight                           object
language                         object
publisher                        object
ISBN_13                          object
link                             object
complete_link                    object
dtype: object

### 1. Identify Missing Values

In [32]:
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
title                             0
author                          173
price                           108
price (including used books)    108
pages                            85
avg_reviews                     128
n_reviews                       128
star5                           128
star4                           195
star3                           276
star2                           379
star1                           502
dimensions                      186
weight                          179
language                         71
publisher                       116
ISBN_13                         165
link                              0
complete_link                     0
dtype: int64

### 2. Drop Rows with Any Missing Values

In [33]:
df_dropped_rows = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropped_rows)

DataFrame after dropping rows with missing values:
                                                 title  \
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
6    SQL for Data Analysis: Advanced Techniques for...
15   SQL QuickStart Guide: The Simplified Beginner'...
18   Python para Principiantes: 2 Libros en 1: Prog...
..                                                 ...
804  Essential Calculus Skills Practice Workbook wi...
807  Machine Learning with R: Expert techniques for...
821  Machine Learning with PyTorch and Scikit-Learn...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...

                                              author  price  \
3                                [ William McKinney]  53.99
4                                  [ Paul McFedries]  24.49
6                                  [ Cathy Tanimura]  40.49
15                                 [ Walter Shields]  24.99
18                  [ Programming Languages Academy]  19.38
..                                               ...    ...
804                                [ Chris McMullen]   9.99
807                                   [ Brett Lantz]  37.99
821  [ Sebastian Raschka, Yuxi (Hayden) Liu, et al.]  39.02
825          [ Michael Fullan, Joanne Quinn, et al.]   5.33
826       [ Matthew F. Dixon, Igor Halperin, et al.]  55.18

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
6                          40.49   360          4.6        72   75%   18%
15                         24.99   249          4.6     1,358   72%   18%
18                         19.38   234          4.4        56   73%    8%
..                           ...   ...          ...       ...   ...   ...
804                         9.99   151          4.6     1,537   74%   16%
807               24.96 - 37.99    458          4.6       237   78%   13%
821                        39.02   774          4.6       164   80%   11%
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%

    star3 star2 star1                 dimensions       weight language  \
3      5%    2%    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%   10%   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
6      2%    2%    2%  6.75 x 0.75 x 8.75 inches   1.2 pounds  English
15     7%    1%    2%   7.5 x 0.57 x 9.25 inches  15.5 ounces  English
18    10%    4%    4%        6 x 0.53 x 9 inches  11.4 ounces  Spanish
..    ...   ...   ...                        ...          ...      ...
804    7%    1%    2%       8 x 0.35 x 10 inches    11 ounces  English
807    5%    2%    2%   7.5 x 1.04 x 9.25 inches  1.72 pounds  English
821    4%    3%    3%   7.5 x 1.75 x 9.25 inches  2.88 pounds  English
825    7%    2%    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%    4%    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English

                                             publisher         ISBN_13  \
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
6        O'Reilly Media; 1st edition (October 5, 2021)  978-1492088783
15   ClydeBank Media LLC; Illustrated edition (Nove...  978-1945051753
18               Independently published (May 2, 2020)  979-8642649534
..                                                 ...             ...
804                Zishka Publishing (August 16, 2018)  978-1941691243
807     Packt Publishing; 3rd edition (April 15, 2019)
821               Packt Publishing (February 25, 2022)  978-1801819312
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)

                                                  link  \
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
6    /SQL-Data-Analysis-Techniques-Transforming/dp/...
15   /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
18   /Python-para-Principiantes-Programaci%C3%B3n-p...
..                                                 ...
804  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
807  /Machine-Learning-techniques-predictive-modeli...
821  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...

                                         complete_link
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
6    https://www.amazon.com/SQL-Data-Analysis-Techn...
15   https://www.amazon.com/gp/slredirect/picassoRe...
18   https://www.amazon.com/Python-para-Principiant...
..                                                 ...
804  https://www.amazon.com/gp/slredirect/picassoRe...
807  https://www.amazon.com/Machine-Learning-techni...
821  https://www.amazon.com/gp/slredirect/picassoRe...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...

[223 rows x 19 columns]

### 3. Drop Rows with Any Missing Values

In [34]:
df_dropped_columns = df.dropna(axis=1)
print("\nDataFrame after dropping columns with missing values:")
print(df_dropped_columns)

DataFrame after dropping columns with missing values:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link
0    https://www.amazon.com/Data-Analysis-Using-Low...
1    https://www.amazon.com/Head-First-Data-Analysi...
2    https://www.amazon.com/Guerrilla-Analysis-Usin...
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
..                                                 ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...
827  https://www.amazon.com/gp/slredirect/picassoRe...
828  https://www.amazon.com/Clinical-Biostatistics-...
829  https://www.amazon.com/Machine-Learning-Coders...

[830 rows x 3 columns]

### 4. Drop Columns with Any Missing Values

In [35]:
df_filled_value = df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_filled_value)

DataFrame after filling missing values with 0:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]   6.75
1                                             0  33.72
2            [ Oz du Soleil,  and , Bill Jelen]  32.07
3                           [ William McKinney]  53.99
4                             [ Paul McFedries]  24.49
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]   5.33
826  [ Matthew F. Dixon, Igor Halperin, et al.]  55.18
827       [ Yong Liu,  and , Dr. Matei Zaharia]  44.99
828                                           0   0.00
829                         [ Laurence Moroney]  38.49

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500          4.4        23   55%   39%
1                 21.49 - 33.72    484          4.3       124   61%   20%
2                          32.07   274          4.7        10   87%   13%
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%
827                        44.99   288          4.8         8   83%   17%
828                            0     0          0.0         0     0     0
829                        38.49     0          4.7       142   79%   15%

    star3 star2 star1                 dimensions       weight language  \
0      6%     0     0     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%    4%    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2       0     0     0  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%    2%    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%   10%   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...   ...   ...                        ...          ...      ...
825    7%    2%    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%    4%    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827     0     0     0   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828     0     0     0                          0            0        0
829    4%    1%    1%                          0            0        0

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                                                  0               0
829                                                  0

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link
0    https://www.amazon.com/Data-Analysis-Using-Low...
1    https://www.amazon.com/Head-First-Data-Analysi...
2    https://www.amazon.com/Guerrilla-Analysis-Usin...
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
..                                                 ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...
827  https://www.amazon.com/gp/slredirect/picassoRe...
828  https://www.amazon.com/Clinical-Biostatistics-...
829  https://www.amazon.com/Machine-Learning-Coders...

[830 rows x 19 columns]

### 5. Fill Missing Values with a Specific Value

In [36]:
# Forward fill
df_ffill = df.fillna(method='ffill')
print("\nDataFrame after forward fill:")
print(df_ffill)

# Backward fill
df_bfill = df.fillna(method='bfill')
print("\nDataFrame after backward fill:")
print(df_bfill)

DataFrame after forward fill:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]   6.75
1                           [ Dr Dhaval Maheta]  33.72
2            [ Oz du Soleil,  and , Bill Jelen]  32.07
3                           [ William McKinney]  53.99
4                             [ Paul McFedries]  24.49
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]   5.33
826  [ Matthew F. Dixon, Igor Halperin, et al.]  55.18
827       [ Yong Liu,  and , Dr. Matei Zaharia]  44.99
828       [ Yong Liu,  and , Dr. Matei Zaharia]  44.99
829                         [ Laurence Moroney]  38.49

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500          4.4        23   55%   39%
1                 21.49 - 33.72    484          4.3       124   61%   20%
2                          32.07   274          4.7        10   87%   13%
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%
827                        44.99   288          4.8         8   83%   17%
828                        44.99   288          4.8         8   83%   17%
829                        38.49   288          4.7       142   79%   15%

    star3 star2 star1                 dimensions       weight language  \
0      6%   NaN   NaN     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%    4%    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2      9%    4%    6%  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%    2%    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%   10%   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...   ...   ...                        ...          ...      ...
825    7%    2%    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%    4%    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827    7%    4%    4%   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828    7%    4%    4%   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
829    4%    1%    1%   7.5 x 0.65 x 9.25 inches   1.1 pounds  English

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                    Packt Publishing (July 8, 2022)  978-1803241333
829                    Packt Publishing (July 8, 2022)

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link
0    https://www.amazon.com/Data-Analysis-Using-Low...
1    https://www.amazon.com/Head-First-Data-Analysi...
2    https://www.amazon.com/Guerrilla-Analysis-Usin...
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
..                                                 ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...
827  https://www.amazon.com/gp/slredirect/picassoRe...
828  https://www.amazon.com/Clinical-Biostatistics-...
829  https://www.amazon.com/Machine-Learning-Coders...

[830 rows x 19 columns]

DataFrame after backward fill:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]   6.75
1            [ Oz du Soleil,  and , Bill Jelen]  33.72
2            [ Oz du Soleil,  and , Bill Jelen]  32.07
3                           [ William McKinney]  53.99
4                             [ Paul McFedries]  24.49
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]   5.33
826  [ Matthew F. Dixon, Igor Halperin, et al.]  55.18
827       [ Yong Liu,  and , Dr. Matei Zaharia]  44.99
828                         [ Laurence Moroney]  38.49
829                         [ Laurence Moroney]  38.49

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500          4.4        23   55%   39%
1                 21.49 - 33.72    484          4.3       124   61%   20%
2                          32.07   274          4.7        10   87%   13%
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%
827                        44.99   288          4.8         8   83%   17%
828                        38.49   NaN          4.7       142   79%   15%
829                        38.49   NaN          4.7       142   79%   15%

    star3 star2 star1                 dimensions       weight language  \
0      6%    4%    6%     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%    4%    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2      5%    2%    2%  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%    2%    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%   10%   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...   ...   ...                        ...          ...      ...
825    7%    2%    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%    4%    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827    4%    1%    1%   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828    4%    1%    1%                        NaN          NaN      NaN
829    4%    1%    1%                        NaN          NaN      NaN

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                                                NaN
829                                                NaN

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link
0    https://www.amazon.com/Data-Analysis-Using-Low...
1    https://www.amazon.com/Head-First-Data-Analysi...
2    https://www.amazon.com/Guerrilla-Analysis-Usin...
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
..                                                 ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...
827  https://www.amazon.com/gp/slredirect/picassoRe...
828  https://www.amazon.com/Clinical-Biostatistics-...
829  https://www.amazon.com/Machine-Learning-Coders...

[830 rows x 19 columns]

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\906008488.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\906008488.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

### 6. Fill Missing Values Using Forward Fill and Backward Fill Methods

In [37]:
df_interpolated = df.interpolate()
print("\nDataFrame after interpolation:")
print(df_interpolated)

DataFrame after interpolation:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]   6.75
1                                           NaN  33.72
2            [ Oz du Soleil,  and , Bill Jelen]  32.07
3                           [ William McKinney]  53.99
4                             [ Paul McFedries]  24.49
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]   5.33
826  [ Matthew F. Dixon, Igor Halperin, et al.]  55.18
827       [ Yong Liu,  and , Dr. Matei Zaharia]  44.99
828                                         NaN  41.74
829                         [ Laurence Moroney]  38.49

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500         4.40        23   55%   39%
1                 21.49 - 33.72    484         4.30       124   61%   20%
2                          32.07   274         4.70        10   87%   13%
3                          53.99   547         4.60     1,686   75%   16%
4                          24.49   368         3.90        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208         4.50        74   72%   14%
826               52.41 - 55.18    573         4.50        93   78%    7%
827                        44.99   288         4.80         8   83%   17%
828                          NaN   NaN         4.75       NaN   NaN   NaN
829                        38.49   NaN         4.70       142   79%   15%

    star3 star2 star1                 dimensions       weight language  \
0      6%   NaN   NaN     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%    4%    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2     NaN   NaN   NaN  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%    2%    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%   10%   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...   ...   ...                        ...          ...      ...
825    7%    2%    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%    4%    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827   NaN   NaN   NaN   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828   NaN   NaN   NaN                        NaN          NaN      NaN
829    4%    1%    1%                        NaN          NaN      NaN

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                                                NaN             NaN
829                                                NaN

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link
0    https://www.amazon.com/Data-Analysis-Using-Low...
1    https://www.amazon.com/Head-First-Data-Analysi...
2    https://www.amazon.com/Guerrilla-Analysis-Usin...
3    https://www.amazon.com/Python-Data-Analysis-Wr...
4    https://www.amazon.com/Excel-Data-Analysis-Dum...
..                                                 ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...
826  https://www.amazon.com/Machine-Learning-Financ...
827  https://www.amazon.com/gp/slredirect/picassoRe...
828  https://www.amazon.com/Clinical-Biostatistics-...
829  https://www.amazon.com/Machine-Learning-Coders...

[830 rows x 19 columns]

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\1632994151.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

### 7. Interpolate Missing Values

In [38]:
import numpy as np 
df['price'].fillna(0, inplace=True)  # Replace NaN with 0 (adjust as needed)
df['price'] = df['price'].astype(int)
print("\nDataFrame after converting 'price' to integer:")
print(df.dtypes)

DataFrame after converting 'price' to integer:
title                            object
author                           object
price                             int32
price (including used books)     object
pages                            object
avg_reviews                     float64
n_reviews                        object
star5                            object
star4                            object
star3                            object
star2                            object
star1                            object
dimensions                       object
weight                           object
language                         object
publisher                        object
ISBN_13                          object
link                             object
complete_link                    object
dtype: object

### 8. Convert a Column to a Different Data Type

In [39]:
df['price'] = df['price'].apply(lambda x: x * 1.1)
print("\nDataFrame after applying a function to 'price':")
print(df.head())

DataFrame after applying a function to 'price':
                                               title  \
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

                               author  price price (including used books)  \
0                 [ Dr Dhaval Maheta]    6.6                         6.75
1                                 NaN   36.3               21.49 - 33.72
2  [ Oz du Soleil,  and , Bill Jelen]   35.2                        32.07
3                 [ William McKinney]   58.3                        53.99
4                   [ Paul McFedries]   26.4                        24.49

  pages  avg_reviews n_reviews star5 star4 star3 star2 star1  \
0   500          4.4        23   55%   39%    6%   NaN   NaN
1   484          4.3       124   61%   20%    9%    4%    6%
2   274          4.7        10   87%   13%   NaN   NaN   NaN
3   547          4.6     1,686   75%   16%    5%    2%    2%
4   368          3.9        12   52%   17%   10%   10%   10%

                  dimensions       weight language  \
0     8.5 x 1.01 x 11 inches  2.53 pounds  English
1     8 x 0.98 x 9.25 inches  1.96 pounds  English
2  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3     7 x 1.11 x 9.19 inches  1.47 pounds  English
4  7.38 x 0.83 x 9.25 inches   1.3 pounds  English

                                           publisher         ISBN_13  \
0     Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1      O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2  Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3    O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4        For Dummies; 5th edition (February 3, 2022)  978-1119844426

                                                link  \
0  /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1  /Head-First-Data-Analysis-statistics/dp/059615...
2  /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3  /Python-Data-Analysis-Wrangling-IPython/dp/149...
4  /Excel-Data-Analysis-Dummies-Computer/dp/11198...

                                       complete_link
0  https://www.amazon.com/Data-Analysis-Using-Low...
1  https://www.amazon.com/Head-First-Data-Analysi...
2  https://www.amazon.com/Guerrilla-Analysis-Usin...
3  https://www.amazon.com/Python-Data-Analysis-Wr...
4  https://www.amazon.com/Excel-Data-Analysis-Dum...

### 9. Apply a Function to Transform the Values of a Column

In [40]:
df['price_normalized'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())
print("\nDataFrame after Min-Max scaling of 'price':")
print(df[['price', 'price_normalized']].head())

DataFrame after Min-Max scaling of 'price':
   price  price_normalized
0    6.6          0.004552
1   36.3          0.025038
2   35.2          0.024279
3   58.3          0.040212
4   26.4          0.018209

### 10. Normalize a Column Using Min-Max Scaling

In [41]:
df['price_normalized'] = (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())
print("\nDataFrame after Min-Max scaling of 'price':")
print(df[['price', 'price_normalized']].head())

DataFrame after Min-Max scaling of 'price':
   price  price_normalized
0    6.6          0.004552
1   36.3          0.025038
2   35.2          0.024279
3   58.3          0.040212
4   26.4          0.018209

### 11. Standardize a Column (Z-Score Normalization)

In [42]:
df['price_standardized'] = (df['price'] - df['price'].mean()) / df['price'].std()
print("\nDataFrame after z-score normalization of 'price':")
print(df[['price', 'price_standardized']].head())

DataFrame after z-score normalization of 'price':
   price  price_standardized
0    6.6           -0.554591
1   36.3           -0.112237
2   35.2           -0.128620
3   58.3            0.215433
4   26.4           -0.259688

### 12. Identify Duplicate Rows in the DataFrame

In [43]:
duplicate_rows = df.duplicated()
print("\nDuplicate rows in the DataFrame:")
print(duplicate_rows.sum())

Duplicate rows in the DataFrame:
0

### 13. Drop Duplicate Rows

In [44]:
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after dropping duplicate rows:")
print(df_no_duplicates)

DataFrame after dropping duplicate rows:
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]    6.6
1                                           NaN   36.3
2            [ Oz du Soleil,  and , Bill Jelen]   35.2
3                           [ William McKinney]   58.3
4                             [ Paul McFedries]   26.4
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]    5.5
826  [ Matthew F. Dixon, Igor Halperin, et al.]   60.5
827       [ Yong Liu,  and , Dr. Matei Zaharia]   48.4
828                                         NaN    0.0
829                         [ Laurence Moroney]   41.8

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500          4.4        23   55%   39%
1                 21.49 - 33.72    484          4.3       124   61%   20%
2                          32.07   274          4.7        10   87%   13%
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%
827                        44.99   288          4.8         8   83%   17%
828                          NaN   NaN          NaN       NaN   NaN   NaN
829                        38.49   NaN          4.7       142   79%   15%

    star3  ... star1                 dimensions       weight language  \
0      6%  ...   NaN     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%  ...    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2     NaN  ...   NaN  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%  ...    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%  ...   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...  ...   ...                        ...          ...      ...
825    7%  ...    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%  ...    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827   NaN  ...   NaN   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828   NaN  ...   NaN                        NaN          NaN      NaN
829    4%  ...    1%                        NaN          NaN      NaN

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                                                NaN             NaN
829                                                NaN

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link price_normalized  \
0    https://www.amazon.com/Data-Analysis-Using-Low...         0.004552
1    https://www.amazon.com/Head-First-Data-Analysi...         0.025038
2    https://www.amazon.com/Guerrilla-Analysis-Usin...         0.024279
3    https://www.amazon.com/Python-Data-Analysis-Wr...         0.040212
4    https://www.amazon.com/Excel-Data-Analysis-Dum...         0.018209
..                                                 ...              ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...         0.003794
826  https://www.amazon.com/Machine-Learning-Financ...         0.041730
827  https://www.amazon.com/gp/slredirect/picassoRe...         0.033384
828  https://www.amazon.com/Clinical-Biostatistics-...         0.000000
829  https://www.amazon.com/Machine-Learning-Coders...         0.028832

     price_standardized
0             -0.554591
1             -0.112237
2             -0.128620
3              0.215433
4             -0.259688
..                  ...
825           -0.570975
826            0.248200
827            0.067982
828           -0.652892
829           -0.030319

[830 rows x 21 columns]

### 14. Drop Duplicate Rows Based on Specific Columns

In [45]:
df_no_duplicates_specified = df.drop_duplicates(subset=['title', 'author'])
print("\nDataFrame after dropping duplicate rows based on 'title' and 'author':")
print(df_no_duplicates_specified)

DataFrame after dropping duplicate rows based on 'title' and 'author':
                                                 title  \
0    Data Analysis Using R (Low Priced Edition): A ...
1    Head First Data Analysis: A learner's guide to...
2    Guerrilla Data Analysis Using Microsoft Excel:...
3    Python for Data Analysis: Data Wrangling with ...
4    Excel Data Analysis For Dummies (For Dummies (...
..                                                 ...
825   Deep Learning: Engage the World Change the World
826  Machine Learning in Finance: From Theory to Pr...
827  Practical Deep Learning at Scale with MLflow: ...
828  Clinical Biostatistics and Epidemiology Made R...
829  AI and Machine Learning for Coders: A Programm...

                                         author  price  \
0                           [ Dr Dhaval Maheta]    6.6
1                                           NaN   36.3
2            [ Oz du Soleil,  and , Bill Jelen]   35.2
3                           [ William McKinney]   58.3
4                             [ Paul McFedries]   26.4
..                                          ...    ...
825     [ Michael Fullan, Joanne Quinn, et al.]    5.5
826  [ Matthew F. Dixon, Igor Halperin, et al.]   60.5
827       [ Yong Liu,  and , Dr. Matei Zaharia]   48.4
828                                         NaN    0.0
829                         [ Laurence Moroney]   41.8

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
0                           6.75   500          4.4        23   55%   39%
1                 21.49 - 33.72    484          4.3       124   61%   20%
2                          32.07   274          4.7        10   87%   13%
3                          53.99   547          4.6     1,686   75%   16%
4                          24.49   368          3.9        12   52%   17%
..                           ...   ...          ...       ...   ...   ...
825                8.55 - 35.33    208          4.5        74   72%   14%
826               52.41 - 55.18    573          4.5        93   78%    7%
827                        44.99   288          4.8         8   83%   17%
828                          NaN   NaN          NaN       NaN   NaN   NaN
829                        38.49   NaN          4.7       142   79%   15%

    star3  ... star1                 dimensions       weight language  \
0      6%  ...   NaN     8.5 x 1.01 x 11 inches  2.53 pounds  English
1      9%  ...    6%     8 x 0.98 x 9.25 inches  1.96 pounds  English
2     NaN  ...   NaN  8.25 x 0.6 x 10.75 inches   1.4 pounds  English
3      5%  ...    2%     7 x 1.11 x 9.19 inches  1.47 pounds  English
4     10%  ...   10%  7.38 x 0.83 x 9.25 inches   1.3 pounds  English
..    ...  ...   ...                        ...          ...      ...
825    7%  ...    4%       7 x 0.47 x 10 inches  15.5 ounces  English
826    7%  ...    4%  6.14 x 1.25 x 9.21 inches  2.25 pounds  English
827   NaN  ...   NaN   7.5 x 0.65 x 9.25 inches   1.1 pounds  English
828   NaN  ...   NaN                        NaN          NaN      NaN
829    4%  ...    1%                        NaN          NaN      NaN

                                             publisher         ISBN_13  \
0       Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1        O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2    Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3      O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4          For Dummies; 5th edition (February 3, 2022)  978-1119844426
..                                                 ...             ...
825          Corwin; First edition (December 15, 2017)              59
826      Springer; 1st ed. 2020 edition (July 2, 2020)
827                    Packt Publishing (July 8, 2022)  978-1803241333
828                                                NaN             NaN
829                                                NaN

                                                  link  \
0    /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1    /Head-First-Data-Analysis-statistics/dp/059615...
2    /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3    /Python-Data-Analysis-Wrangling-IPython/dp/149...
4    /Excel-Data-Analysis-Dummies-Computer/dp/11198...
..                                                 ...
825  /Deep-Learning-Engage-World-Change/dp/15063685...
826  /Machine-Learning-Finance-Theory-Practice/dp/3...
827  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
828  /Clinical-Biostatistics-Epidemiology-Ridiculou...
829  /Machine-Learning-Coders-Programmers-Intellige...

                                         complete_link price_normalized  \
0    https://www.amazon.com/Data-Analysis-Using-Low...         0.004552
1    https://www.amazon.com/Head-First-Data-Analysi...         0.025038
2    https://www.amazon.com/Guerrilla-Analysis-Usin...         0.024279
3    https://www.amazon.com/Python-Data-Analysis-Wr...         0.040212
4    https://www.amazon.com/Excel-Data-Analysis-Dum...         0.018209
..                                                 ...              ...
825  https://www.amazon.com/Deep-Learning-Engage-Wo...         0.003794
826  https://www.amazon.com/Machine-Learning-Financ...         0.041730
827  https://www.amazon.com/gp/slredirect/picassoRe...         0.033384
828  https://www.amazon.com/Clinical-Biostatistics-...         0.000000
829  https://www.amazon.com/Machine-Learning-Coders...         0.028832

     price_standardized
0             -0.554591
1             -0.112237
2             -0.128620
3              0.215433
4             -0.259688
..                  ...
825           -0.570975
826            0.248200
827            0.067982
828           -0.652892
829           -0.030319

[830 rows x 21 columns]

### 15. Convert All String Values in a Column to Lowercase

In [46]:
df['author'] = df['author'].str.lower()
print("\nDataFrame after converting 'author' to lowercase:")
print(df[['author']].head())

DataFrame after converting 'author' to lowercase:
                               author
0                 [ dr dhaval maheta]
1                                 NaN
2  [ oz du soleil,  and , bill jelen]
3                 [ william mckinney]
4                   [ paul mcfedries]

### 16. Remove Leading and Trailing Spaces from String Values in a Column

In [47]:
df['title'] = df['title'].str.strip()
print("\nDataFrame after removing leading and trailing spaces from 'title':")
print(df[['title']].head())

DataFrame after removing leading and trailing spaces from 'title':
                                               title
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

### 17. Replace a Specific Substring in a Column with Another Substring

In [48]:
df['title'] = df['title'].str.replace('book', 'novel')
print("\nDataFrame after replacing 'book' with 'novel' in 'title':")
print(df[['title']].head())

DataFrame after replacing 'book' with 'novel' in 'title':
                                               title
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

### 18. Extract a Substring from Each Value in a Column

In [49]:
df['title_short'] = df['title'].str[:10]
print("\nDataFrame after extracting first 10 characters of 'title':")
print(df[['title', 'title_short']].head())

DataFrame after extracting first 10 characters of 'title':
                                               title title_short
0  Data Analysis Using R (Low Priced Edition): A ...  Data Analy
1  Head First Data Analysis: A learner's guide to...  Head First
2  Guerrilla Data Analysis Using Microsoft Excel:...  Guerrilla
3  Python for Data Analysis: Data Wrangling with ...  Python for
4  Excel Data Analysis For Dummies (For Dummies (...  Excel Data

### 19. Convert a Categorical Column to Numerical Using One-Hot Encoding

In [50]:
df_one_hot_encoded = pd.get_dummies(df, columns=['language'])
print("\nDataFrame after one-hot encoding 'language':")
print(df_one_hot_encoded.head())

DataFrame after one-hot encoding 'language':
                                               title  \
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

                               author  price price (including used books)  \
0                 [ dr dhaval maheta]    6.6                         6.75
1                                 NaN   36.3               21.49 - 33.72
2  [ oz du soleil,  and , bill jelen]   35.2                        32.07
3                 [ william mckinney]   58.3                        53.99
4                   [ paul mcfedries]   26.4                        24.49

  pages  avg_reviews n_reviews star5 star4 star3  ... language_English  \
0   500          4.4        23   55%   39%    6%  ...             True
1   484          4.3       124   61%   20%    9%  ...             True
2   274          4.7        10   87%   13%   NaN  ...             True
3   547          4.6     1,686   75%   16%    5%  ...             True
4   368          3.9        12   52%   17%   10%  ...             True

  language_English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  language_English (Dolby Digital 2.0 Mono)  \
0                                     False
1                                     False
2                                     False
3                                     False
4                                     False

  language_Scroll to the top of the page and click the  language_Spanish  \
0                                              False               False
1                                              False               False
2                                              False               False
3                                              False               False
4                                              False               False

  language_This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  language_Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  language_standard library  language_you will discover all you need   \
0                     False                                     False
1                     False                                     False
2                     False                                     False
3                     False                                     False
4                     False                                     False

   language_• How to make better business decisions using
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

[5 rows x 33 columns]

### 20. Convert a Categorical Column to Numerical Using Label Encoding

In [51]:
label_encoder = LabelEncoder()
df['publisher_encoded'] = label_encoder.fit_transform(df['publisher'])
print("\nDataFrame after label encoding 'publisher':")
print(df[['publisher', 'publisher_encoded']].head())

DataFrame after label encoding 'publisher':
                                           publisher  publisher_encoded
0     Notion Press Media Pvt Ltd (November 22, 2021)                344
1      O'Reilly Media; 1st edition (August 18, 2009)                350
2  Holy Macro! Books; Third edition (August 1, 2022)                160
3    O'Reilly Media; 2nd edition (November 14, 2017)                408
4        For Dummies; 5th edition (February 3, 2022)                150

### 21. Group Values in a Categorical Column and Create a New Column with Grouped Categories

In [52]:
df.dropna(subset=['publisher'], inplace=True)  # Drops rows with NaN in 'publisher'
publisher_counts = df['publisher'].value_counts()
df['publisher_grouped'] = df['publisher'].apply(lambda x: 'Other' if publisher_counts[x] < 5 else x)
print(df[['publisher', 'publisher_grouped']].head())

                                           publisher publisher_grouped
0     Notion Press Media Pvt Ltd (November 22, 2021)             Other
1      O'Reilly Media; 1st edition (August 18, 2009)             Other
2  Holy Macro! Books; Third edition (August 1, 2022)             Other
3    O'Reilly Media; 2nd edition (November 14, 2017)             Other
4        For Dummies; 5th edition (February 3, 2022)             Other

### 22. Merge Two DataFrames Based on a Common Column

In [53]:
additional_data = {
    'ISBN_13': ['978-3-16-148410-0', '978-1-86197-876-9'],
    'Genre': ['Fiction', 'Non-Fiction']
}
df_additional = pd.DataFrame(additional_data)

df_merged = pd.merge(df, df_additional, on='ISBN_13', how='left')
print("\nDataFrame after merging with additional data:")
print(df_merged.head())

DataFrame after merging with additional data:
                                               title  \
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

                               author  price price (including used books)  \
0                 [ dr dhaval maheta]    6.6                         6.75
1                                 NaN   36.3               21.49 - 33.72
2  [ oz du soleil,  and , bill jelen]   35.2                        32.07
3                 [ william mckinney]   58.3                        53.99
4                   [ paul mcfedries]   26.4                        24.49

  pages  avg_reviews n_reviews star5 star4 star3  ...  \
0   500          4.4        23   55%   39%    6%  ...
1   484          4.3       124   61%   20%    9%  ...
2   274          4.7        10   87%   13%   NaN  ...
3   547          4.6     1,686   75%   16%    5%  ...
4   368          3.9        12   52%   17%   10%  ...

                                           publisher         ISBN_13  \
0     Notion Press Media Pvt Ltd (November 22, 2021)  978-1685549596
1      O'Reilly Media; 1st edition (August 18, 2009)  978-0596153939
2  Holy Macro! Books; Third edition (August 1, 2022)  978-1615470747
3    O'Reilly Media; 2nd edition (November 14, 2017)  978-1491957660
4        For Dummies; 5th edition (February 3, 2022)  978-1119844426

                                                link  \
0  /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1  /Head-First-Data-Analysis-statistics/dp/059615...
2  /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3  /Python-Data-Analysis-Wrangling-IPython/dp/149...
4  /Excel-Data-Analysis-Dummies-Computer/dp/11198...

                                       complete_link price_normalized  \
0  https://www.amazon.com/Data-Analysis-Using-Low...         0.004552
1  https://www.amazon.com/Head-First-Data-Analysi...         0.025038
2  https://www.amazon.com/Guerrilla-Analysis-Usin...         0.024279
3  https://www.amazon.com/Python-Data-Analysis-Wr...         0.040212
4  https://www.amazon.com/Excel-Data-Analysis-Dum...         0.018209

  price_standardized title_short publisher_encoded publisher_grouped  Genre
0          -0.554591  Data Analy               344             Other    NaN
1          -0.112237  Head First               350             Other    NaN
2          -0.128620  Guerrilla                160             Other    NaN
3           0.215433  Python for               408             Other    NaN
4          -0.259688  Excel Data               150             Other    NaN

[5 rows x 25 columns]

### 23. Concatenate Two DataFrames Vertically

In [54]:
additional_rows = pd.DataFrame({
    'title': ['New Book 1', 'New Book 2'],
    'author': ['Author A', 'Author B'],
    'price': [20.0, 30.0],
    'price (including used books)': [15.0, 25.0],
    'pages': [300, 400],
    'avg_reviews': [4.5, 4.0],
    'n_reviews': [100, 150],
    'star5': [50, 60],
    'star4': [30, 50],
    'star3': [10, 20],
    'star2': [5, 10],
    'star1': [5, 10],
    'dimensions': ['8 x 5 x 1', '9 x 6 x 1.5'],
    'weight': [1.0, 1.5],
    'language': ['English', 'English'],
    'publisher': ['Publisher A', 'Publisher B'],
    'ISBN_13': ['123-4-567-89012-3', '123-4-567-89012-4'],
    'link': ['link1', 'link2'],
    'complete_link': ['complete_link1', 'complete_link2']
})

df_concatenated_vertical = pd.concat([df, additional_rows], axis=0, ignore_index=True)
print("\nDataFrame after vertical concatenation:")
print(df_concatenated_vertical.tail())

DataFrame after vertical concatenation:
                                                 title  \
711   Deep Learning: Engage the World Change the World
712  Machine Learning in Finance: From Theory to Pr...
713  Practical Deep Learning at Scale with MLflow: ...
714                                         New Book 1
715                                         New Book 2

                                         author  price  \
711     [ michael fullan, joanne quinn, et al.]    5.5
712  [ matthew f. dixon, igor halperin, et al.]   60.5
713       [ yong liu,  and , dr. matei zaharia]   48.4
714                                    Author A   20.0
715                                    Author B   30.0

    price (including used books) pages  avg_reviews n_reviews star5 star4  \
711                8.55 - 35.33    208          4.5        74   72%   14%
712               52.41 - 55.18    573          4.5        93   78%    7%
713                        44.99   288          4.8         8   83%   17%
714                         15.0   300          4.5       100    50    30
715                         25.0   400          4.0       150    60    50

    star3  ... language                                      publisher  \
711    7%  ...  English      Corwin; First edition (December 15, 2017)
712    7%  ...  English  Springer; 1st ed. 2020 edition (July 2, 2020)
713   NaN  ...  English                Packt Publishing (July 8, 2022)
714    10  ...  English                                    Publisher A
715    20  ...  English                                    Publisher B

               ISBN_13                                               link  \
711                 59  /Deep-Learning-Engage-World-Change/dp/15063685...
712                     /Machine-Learning-Finance-Theory-Practice/dp/3...
713     978-1803241333  /gp/slredirect/picassoRedirect.html/ref=pa_sp_...
714  123-4-567-89012-3                                              link1
715  123-4-567-89012-4                                              link2

                                         complete_link price_normalized  \
711  https://www.amazon.com/Deep-Learning-Engage-Wo...         0.003794
712  https://www.amazon.com/Machine-Learning-Financ...         0.041730
713  https://www.amazon.com/gp/slredirect/picassoRe...         0.033384
714                                     complete_link1              NaN
715                                     complete_link2              NaN

    price_standardized title_short publisher_encoded  publisher_grouped
711          -0.570975  Deep Learn             110.0              Other
712           0.248200  Machine Le             609.0              Other
713           0.067982  Practical              462.0              Other
714                NaN         NaN               NaN                NaN
715                NaN         NaN               NaN                NaN

[5 rows x 24 columns]

### 24. Concatenate Two DataFrames Horizontally

In [55]:
additional_columns = pd.DataFrame({
    'new_col1': ['value1', 'value2', 'value3', 'value4', 'value5'],
    'new_col2': [1, 2, 3, 4, 5]
})

df_concatenated_horizontal = pd.concat([df, additional_columns], axis=1)
print("\nDataFrame after horizontal concatenation:")
print(df_concatenated_horizontal.head())

DataFrame after horizontal concatenation:
                                               title  \
0  Data Analysis Using R (Low Priced Edition): A ...
1  Head First Data Analysis: A learner's guide to...
2  Guerrilla Data Analysis Using Microsoft Excel:...
3  Python for Data Analysis: Data Wrangling with ...
4  Excel Data Analysis For Dummies (For Dummies (...

                               author  price price (including used books)  \
0                 [ dr dhaval maheta]    6.6                         6.75
1                                 NaN   36.3               21.49 - 33.72
2  [ oz du soleil,  and , bill jelen]   35.2                        32.07
3                 [ william mckinney]   58.3                        53.99
4                   [ paul mcfedries]   26.4                        24.49

  pages  avg_reviews n_reviews star5 star4 star3  ...         ISBN_13  \
0   500          4.4        23   55%   39%    6%  ...  978-1685549596
1   484          4.3       124   61%   20%    9%  ...  978-0596153939
2   274          4.7        10   87%   13%   NaN  ...  978-1615470747
3   547          4.6     1,686   75%   16%    5%  ...  978-1491957660
4   368          3.9        12   52%   17%   10%  ...  978-1119844426

                                                link  \
0  /Data-Analysis-Using-Low-Priced/dp/1685549594/...
1  /Head-First-Data-Analysis-statistics/dp/059615...
2  /Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...
3  /Python-Data-Analysis-Wrangling-IPython/dp/149...
4  /Excel-Data-Analysis-Dummies-Computer/dp/11198...

                                       complete_link price_normalized  \
0  https://www.amazon.com/Data-Analysis-Using-Low...         0.004552
1  https://www.amazon.com/Head-First-Data-Analysi...         0.025038
2  https://www.amazon.com/Guerrilla-Analysis-Usin...         0.024279
3  https://www.amazon.com/Python-Data-Analysis-Wr...         0.040212
4  https://www.amazon.com/Excel-Data-Analysis-Dum...         0.018209

  price_standardized title_short publisher_encoded publisher_grouped new_col1  \
0          -0.554591  Data Analy               344             Other   value1
1          -0.112237  Head First               350             Other   value2
2          -0.128620  Guerrilla                160             Other   value3
3           0.215433  Python for               408             Other   value4
4          -0.259688  Excel Data               150             Other   value5

   new_col2
0       1.0
1       2.0
2       3.0
3       4.0
4       5.0

[5 rows x 26 columns]

### 25. Create a New Column Based on Existing Columns

In [56]:
df = df[pd.to_numeric(df['pages'], errors='coerce').notnull()]  # Drops rows with non-numeric pages
df['price_per_page'] = df['price'] / df['pages'].astype(float)
print("\nDataFrame after creating 'price_per_page' column:")
print(df[['price', 'pages', 'price_per_page']].head())

DataFrame after creating 'price_per_page' column:
   price pages  price_per_page
0    6.6   500        0.013200
1   36.3   484        0.075000
2   35.2   274        0.128467
3   58.3   547        0.106581
4   26.4   368        0.071739

### 26. Discretize a Continuous Column into Bins

In [57]:
df['price_bins'] = pd.cut(df['price'], bins=[0, 20, 40, 60, 80, 100], labels=['0-20', '20-40', '40-60', '60-80', '80-100'])
print("\nDataFrame after discretizing 'price' column into bins:")
print(df[['price', 'price_bins']].head())

DataFrame after discretizing 'price' column into bins:
   price price_bins
0    6.6       0-20
1   36.3      20-40
2   35.2      20-40
3   58.3      40-60
4   26.4      20-40

### 27. Create Polynomial Features from Existing Numerical Columns

In [58]:
df['price_squared'] = df['price'] ** 2
df['avg_reviews_squared'] = df['avg_reviews'] ** 2
print("\nDataFrame after creating polynomial features:")
print(df[['price', 'price_squared', 'avg_reviews', 'avg_reviews_squared']].head())

DataFrame after creating polynomial features:
   price  price_squared  avg_reviews  avg_reviews_squared
0    6.6          43.56          4.4                19.36
1   36.3        1317.69          4.3                18.49
2   35.2        1239.04          4.7                22.09
3   58.3        3398.89          4.6                21.16
4   26.4         696.96          3.9                15.21

# Dataset 3 --> IKEA_SA_Furniture_Web_Scrapings_sss.csv

### Reading CSV file

In [59]:
df = pd.read_csv('IKEA_SA_Furniture_Web_Scrapings_sss.csv')
print("Initial DataFrame:")
print(df.head())
print(df.dtypes)

Initial DataFrame:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               FREKVENS  Bar furniture   265.0
1           1    368814              NORDVIKEN  Bar furniture   995.0
2           2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3           3  80155205                   STIG  Bar furniture    69.0
4           4  30180504                NORBERG  Bar furniture   225.0

      old_price  sellable_online  \
0  No old price             True
1  No old price            False
2  No old price            False
3  No old price             True
4  No old price             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width
0    NaN    99.0   51.0
1    NaN   105.0   80.0
2    NaN     NaN    NaN
3   50.0   100.0   60.0
4   60.0    43.0   74.0
Unnamed: 0             int64
item_id                int64
name                  object
category              object
price                float64
old_price             object
sellable_online         bool
link                  object
other_colors          object
short_description     object
designer              object
depth                float64
height               float64
width                float64
dtype: object

### 1. Identify Missing Values in the DataFrame

In [60]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Unnamed: 0              0
item_id                 0
name                    0
category                0
price                   0
old_price               0
sellable_online         0
link                    0
other_colors            0
short_description       0
designer                0
depth                1463
height                988
width                 589
dtype: int64

### 2. Drop Rows with Any Missing Values

In [61]:
df_dropna_rows = df.dropna()
print("\nDataFrame after dropping rows with any missing values:")
print(df_dropna_rows)

DataFrame after dropping rows with any missing values:
      Unnamed: 0   item_id                   name       category   price  \
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
5              5  10122647                 INGOLF  Bar furniture   345.0
6              6  70404875               FRANKLIN  Bar furniture   129.0
8              8  50406465               FRANKLIN  Bar furniture   129.0
...          ...       ...                    ...            ...     ...
3683        3683  39329299  PAX / FORSAND/VIKEDAL      Wardrobes  1260.0
3684        3684  49157565                ELVARLI      Wardrobes  1245.0
3685        3685  59324936          PAX / FORSAND      Wardrobes  2100.0
3686        3686  69330475         PAX / HOKKSUND      Wardrobes  3985.0
3688        3688  89330653      PAX / MEHAMN/AULI      Wardrobes  2045.0

         old_price  sellable_online  \
3     No old price             True
4     No old price             True
5     No old price             True
6     No old price             True
8     No old price             True
...            ...              ...
3683  No old price             True
3684      SR 1,735             True
3685  No old price             True
3686  No old price             True
3688  No old price             True

                                                   link other_colors  \
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
5     https://www.ikea.com/sa/en/p/ingolf-bar-stool-...           No
6     https://www.ikea.com/sa/en/p/franklin-bar-stoo...           No
8     https://www.ikea.com/sa/en/p/franklin-bar-stoo...           No
...                                                 ...          ...
3683  https://www.ikea.com/sa/en/p/pax-forsand-viked...          Yes
3684  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3685  https://www.ikea.com/sa/en/p/pax-forsand-wardr...          Yes
3686  https://www.ikea.com/sa/en/p/pax-hokksund-ward...           No
3688  https://www.ikea.com/sa/en/p/pax-mehamn-auli-w...           No

                                      short_description  \
3               Bar stool with backrest,          74 cm
4             Wall-mounted drop-leaf table,         ...
5               Bar stool with backrest,          63 cm
6             Bar stool with backrest, foldable,    ...
8             Bar stool with backrest, foldable,    ...
...                                                 ...
3683          Wardrobe combination,          75x60x2...
3684                 2 sections,          165x55x216 cm
3685          Wardrobe combination,          100x60x...
3686          Wardrobe combination,          150x66x...
3688          Wardrobe combination,          200x66x...

                            designer  depth  height  width
3                      Henrik Preutz   50.0   100.0   60.0
4                     Marcus Arvonen   60.0    43.0   74.0
5                       Carina Bengs   45.0    91.0   40.0
6                K Hagberg/M Hagberg   44.0    95.0   50.0
8                K Hagberg/M Hagberg   44.0    95.0   50.0
...                              ...    ...     ...    ...
3683  Ehlén Johansson/IKEA of Sweden   60.0   201.0   75.0
3684  Ehlén Johansson/IKEA of Sweden   55.0   216.0  164.0
3685  IKEA of Sweden/Ehlén Johansson   60.0   236.0  100.0
3686  IKEA of Sweden/Ehlén Johansson   66.0   236.0  150.0
3688  IKEA of Sweden/Ehlén Johansson   66.0   236.0  200.0

[1899 rows x 14 columns]

### 3. Drop Columns with Any Missing Values

In [62]:
df_dropna_cols = df.dropna(axis=1)
print("\nDataFrame after dropping columns with any missing values:")
print(df_dropna_cols)

DataFrame after dropping columns with any missing values:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0
3693        3693  69157376                ELVARLI      Wardrobes  1231.0

         old_price  sellable_online  \
0     No old price             True
1     No old price            False
2     No old price            False
3     No old price             True
4     No old price             True
...            ...              ...
3689        SR 820             True
3690      SR 1,755             True
3691      SR 1,050             True
3692      SR 3,130             True
3693      SR 1,535             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

[3694 rows x 11 columns]

### 4. Fill Missing Values with a Specific Value

In [63]:
df_fill_value = df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_fill_value)

DataFrame after filling missing values with 0:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0
3693        3693  69157376                ELVARLI      Wardrobes  1231.0

         old_price  sellable_online  \
0     No old price             True
1     No old price            False
2     No old price            False
3     No old price             True
4     No old price             True
...            ...              ...
3689        SR 820             True
3690      SR 1,755             True
3691      SR 1,050             True
3692      SR 3,130             True
3693      SR 1,535             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer  \
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

      depth  height  width
0       0.0    99.0   51.0
1       0.0   105.0   80.0
2       0.0     0.0    0.0
3      50.0   100.0   60.0
4      60.0    43.0   74.0
...     ...     ...    ...
3689   50.0     0.0   91.0
3690   50.0     0.0  135.0
3691   50.0     0.0  175.0
3692   50.0     0.0  178.0
3693   50.0     0.0  175.0

[3694 rows x 14 columns]

### 5. Fill Missing Values Using Forward Fill and Backward Fill Methods

In [64]:
df_ffill = df.fillna(method='ffill')
print("\nDataFrame after forward fill:")
print(df_ffill)

df_bfill = df.fillna(method='bfill')
print("\nDataFrame after backward fill:")
print(df_bfill)

DataFrame after forward fill:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0
3693        3693  69157376                ELVARLI      Wardrobes  1231.0

         old_price  sellable_online  \
0     No old price             True
1     No old price            False
2     No old price            False
3     No old price             True
4     No old price             True
...            ...              ...
3689        SR 820             True
3690      SR 1,755             True
3691      SR 1,050             True
3692      SR 3,130             True
3693      SR 1,535             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer  \
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

      depth  height  width
0       NaN    99.0   51.0
1       NaN   105.0   80.0
2       NaN   105.0   80.0
3      50.0   100.0   60.0
4      60.0    43.0   74.0
...     ...     ...    ...
3689   50.0   236.0   91.0
3690   50.0   236.0  135.0
3691   50.0   236.0  175.0
3692   50.0   236.0  178.0
3693   50.0   236.0  175.0

[3694 rows x 14 columns]

DataFrame after backward fill:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0
3693        3693  69157376                ELVARLI      Wardrobes  1231.0

         old_price  sellable_online  \
0     No old price             True
1     No old price            False
2     No old price            False
3     No old price             True
4     No old price             True
...            ...              ...
3689        SR 820             True
3690      SR 1,755             True
3691      SR 1,050             True
3692      SR 3,130             True
3693      SR 1,535             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer  \
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

      depth  height  width
0      50.0    99.0   51.0
1      50.0   105.0   80.0
2      50.0   100.0   60.0
3      50.0   100.0   60.0
4      60.0    43.0   74.0
...     ...     ...    ...
3689   50.0     NaN   91.0
3690   50.0     NaN  135.0
3691   50.0     NaN  175.0
3692   50.0     NaN  178.0
3693   50.0     NaN  175.0

[3694 rows x 14 columns]

C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\1444739425.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\Muhammad Ahtasham\AppData\Local\Temp\ipykernel_21744\1444739425.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

### 6. Convert a Column to a Different Data Type

In [65]:
df['old_price'] = pd.to_numeric(df['old_price'], errors='coerce')
print("\nDataFrame after converting 'old_price' to numeric:")
print(df.dtypes)

DataFrame after converting 'old_price' to numeric:
Unnamed: 0             int64
item_id                int64
name                  object
category              object
price                float64
old_price            float64
sellable_online         bool
link                  object
other_colors          object
short_description     object
designer              object
depth                float64
height               float64
width                float64
dtype: object

### 7. Apply a Function to Transform the Values of a Column

In [66]:
df['price_increased'] = df['price'].apply(lambda x: x * 1.10)
print("\nDataFrame after applying function to 'price' column:")
print(df.head())

DataFrame after applying function to 'price' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               FREKVENS  Bar furniture   265.0
1           1    368814              NORDVIKEN  Bar furniture   995.0
2           2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3           3  80155205                   STIG  Bar furniture    69.0
4           4  30180504                NORBERG  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased
0    NaN    99.0   51.0            291.5
1    NaN   105.0   80.0           1094.5
2    NaN     NaN    NaN           2304.5
3   50.0   100.0   60.0             75.9
4   60.0    43.0   74.0            247.5

### 8. Normalize a Column Using Min-Max Scaling

In [67]:
scaler = MinMaxScaler()
df['price_normalized'] = scaler.fit_transform(df[['price']])
print("\nDataFrame after Min-Max scaling 'price' column:")
print(df.head())

DataFrame after Min-Max scaling 'price' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               FREKVENS  Bar furniture   265.0
1           1    368814              NORDVIKEN  Bar furniture   995.0
2           2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3           3  80155205                   STIG  Bar furniture    69.0
4           4  30180504                NORBERG  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized
0    NaN    99.0   51.0            291.5          0.027343
1    NaN   105.0   80.0           1094.5          0.103527
2    NaN     NaN    NaN           2304.5          0.218326
3   50.0   100.0   60.0             75.9          0.006888
4   60.0    43.0   74.0            247.5          0.023168

### 9. Standardize a Column (z-score normalization)

In [68]:
scaler = MinMaxScaler()
df['price_normalized'] = scaler.fit_transform(df[['price']])
print("\nDataFrame after Min-Max scaling 'price' column:")
print(df.head())

DataFrame after Min-Max scaling 'price' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               FREKVENS  Bar furniture   265.0
1           1    368814              NORDVIKEN  Bar furniture   995.0
2           2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3           3  80155205                   STIG  Bar furniture    69.0
4           4  30180504                NORBERG  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized
0    NaN    99.0   51.0            291.5          0.027343
1    NaN   105.0   80.0           1094.5          0.103527
2    NaN     NaN    NaN           2304.5          0.218326
3   50.0   100.0   60.0             75.9          0.006888
4   60.0    43.0   74.0            247.5          0.023168

### 10. Identify Duplicate Rows in the DataFrame

In [69]:
print("\nDuplicate rows in the DataFrame:")
print(df[df.duplicated()])

Duplicate rows in the DataFrame:
Empty DataFrame
Columns: [Unnamed: 0, item_id, name, category, price, old_price, sellable_online, link, other_colors, short_description, designer, depth, height, width, price_increased, price_normalized]
Index: []

### 11. Drop Duplicate Rows

In [70]:
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after dropping duplicate rows:")
print(df_no_duplicates)

DataFrame after dropping duplicate rows:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0
3693        3693  69157376                ELVARLI      Wardrobes  1231.0

      old_price  sellable_online  \
0           NaN             True
1           NaN            False
2           NaN            False
3           NaN             True
4           NaN             True
...         ...              ...
3689        NaN             True
3690        NaN             True
3691        NaN             True
3692        NaN             True
3693        NaN             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer  \
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

      depth  height  width  price_increased  price_normalized
0       NaN    99.0   51.0            291.5          0.027343
1       NaN   105.0   80.0           1094.5          0.103527
2       NaN     NaN    NaN           2304.5          0.218326
3      50.0   100.0   60.0             75.9          0.006888
4      60.0    43.0   74.0            247.5          0.023168
...     ...     ...    ...              ...               ...
3689   50.0     NaN   91.0            825.0          0.077959
3690   50.0     NaN  135.0           1729.2          0.163745
3691   50.0     NaN  175.0           1016.4          0.096118
3692   50.0     NaN  178.0           3019.5          0.286162
3693   50.0     NaN  175.0           1354.1          0.128157

[3694 rows x 16 columns]

### 12. Drop Duplicate Rows Based on Specific Columns

In [71]:
df_no_duplicates_specific = df.drop_duplicates(subset=['item_id'])
print("\nDataFrame after dropping duplicate rows based on 'item_id':")
print(df_no_duplicates_specific)

DataFrame after dropping duplicate rows based on 'item_id':
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               FREKVENS  Bar furniture   265.0
1              1    368814              NORDVIKEN  Bar furniture   995.0
2              2   9333523  NORDVIKEN / NORDVIKEN  Bar furniture  2095.0
3              3  80155205                   STIG  Bar furniture    69.0
4              4  30180504                NORBERG  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3688        3688  89330653      PAX / MEHAMN/AULI      Wardrobes  2045.0
3689        3689  99157902                ELVARLI      Wardrobes   750.0
3690        3690   9158152                ELVARLI      Wardrobes  1572.0
3691        3691  59157541                ELVARLI      Wardrobes   924.0
3692        3692  89157573                ELVARLI      Wardrobes  2745.0

      old_price  sellable_online  \
0           NaN             True
1           NaN            False
2           NaN            False
3           NaN             True
4           NaN             True
...         ...              ...
3688        NaN             True
3689        NaN             True
3690        NaN             True
3691        NaN             True
3692        NaN             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3688  https://www.ikea.com/sa/en/p/pax-mehamn-auli-w...           No
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No

                                      short_description  \
0              Bar table, in/outdoor,          51x51 cm
1                         Bar table,          140x80 cm
2                            Bar table and 4 bar stools
3               Bar stool with backrest,          74 cm
4             Wall-mounted drop-leaf table,         ...
...                                                 ...
3688          Wardrobe combination,          200x66x...
3689               1 section,          92x51x222-350 cm
3690             2 sections,          135x51x222-350 cm
3691             2 sections,          175x51x222-350 cm
3692             3 sections,          178x51x222-350 cm

                            designer  depth  height  width  price_increased  \
0               Nicholai Wiig Hansen    NaN    99.0   51.0            291.5
1                  Francis Cayouette    NaN   105.0   80.0           1094.5
2                  Francis Cayouette    NaN     NaN    NaN           2304.5
3                      Henrik Preutz   50.0   100.0   60.0             75.9
4                     Marcus Arvonen   60.0    43.0   74.0            247.5
...                              ...    ...     ...    ...              ...
3688  IKEA of Sweden/Ehlén Johansson   66.0   236.0  200.0           2249.5
3689                 Ehlén Johansson   50.0     NaN   91.0            825.0
3690                 Ehlén Johansson   50.0     NaN  135.0           1729.2
3691                 Ehlén Johansson   50.0     NaN  175.0           1016.4
3692                 Ehlén Johansson   50.0     NaN  178.0           3019.5

      price_normalized
0             0.027343
1             0.103527
2             0.218326
3             0.006888
4             0.023168
...                ...
3688          0.213108
3689          0.077959
3690          0.163745
3691          0.096118
3692          0.286162

[2962 rows x 16 columns]

### 13. Convert All String Values in a Column to Lowercase

In [72]:
df['name'] = df['name'].str.lower()
print("\nDataFrame after converting 'name' column to lowercase:")
print(df.head())

DataFrame after converting 'name' column to lowercase:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized
0    NaN    99.0   51.0            291.5          0.027343
1    NaN   105.0   80.0           1094.5          0.103527
2    NaN     NaN    NaN           2304.5          0.218326
3   50.0   100.0   60.0             75.9          0.006888
4   60.0    43.0   74.0            247.5          0.023168

### 14. Replace a Specific Substring in a Column with Another Substring

In [73]:
df['name'] = df['name'].str.replace('ikea', 'IKEA', regex=False)
print("\nDataFrame after replacing 'ikea' with 'IKEA' in 'name' column:")
print(df.head())

DataFrame after replacing 'ikea' with 'IKEA' in 'name' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized
0    NaN    99.0   51.0            291.5          0.027343
1    NaN   105.0   80.0           1094.5          0.103527
2    NaN     NaN    NaN           2304.5          0.218326
3   50.0   100.0   60.0             75.9          0.006888
4   60.0    43.0   74.0            247.5          0.023168

### 15. Extract a Substring from Each Value in a Column

In [74]:
df['short_name'] = df['name'].str[:10]
print("\nDataFrame after extracting the first 10 characters of 'name' column:")
print(df.head())

DataFrame after extracting the first 10 characters of 'name' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized  short_name
0    NaN    99.0   51.0            291.5          0.027343    frekvens
1    NaN   105.0   80.0           1094.5          0.103527   nordviken
2    NaN     NaN    NaN           2304.5          0.218326  nordviken
3   50.0   100.0   60.0             75.9          0.006888        stig
4   60.0    43.0   74.0            247.5          0.023168     norberg

### 16. Convert a Categorical Column to Numerical Using One-Hot Encoding

In [75]:
df_one_hot_encoded = pd.get_dummies(df, columns=['category'])
print("\nDataFrame after one-hot encoding 'category' column:")
print(df_one_hot_encoded.head())

DataFrame after one-hot encoding 'category' column:
   Unnamed: 0   item_id                   name   price  old_price  \
0           0  90420332               frekvens   265.0        NaN
1           1    368814              nordviken   995.0        NaN
2           2   9333523  nordviken / nordviken  2095.0        NaN
3           3  80155205                   stig    69.0        NaN
4           4  30180504                norberg   225.0        NaN

   sellable_online                                               link  \
0             True  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...
1            False  https://www.ikea.com/sa/en/p/nordviken-bar-tab...
2            False  https://www.ikea.com/sa/en/p/nordviken-nordvik...
3             True  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...
4             True  https://www.ikea.com/sa/en/p/norberg-wall-moun...

  other_colors                                  short_description  \
0           No           Bar table, in/outdoor,          51x51 cm
1           No                      Bar table,          140x80 cm
2           No                         Bar table and 4 bar stools
3          Yes            Bar stool with backrest,          74 cm
4           No          Wall-mounted drop-leaf table,         ...

               designer  ...  category_Children's furniture  \
0  Nicholai Wiig Hansen  ...                          False
1     Francis Cayouette  ...                          False
2     Francis Cayouette  ...                          False
3         Henrik Preutz  ...                          False
4        Marcus Arvonen  ...                          False

   category_Nursery furniture  category_Outdoor furniture  \
0                       False                       False
1                       False                       False
2                       False                       False
3                       False                       False
4                       False                       False

   category_Room dividers  category_Sideboards, buffets & console tables  \
0                   False                                          False
1                   False                                          False
2                   False                                          False
3                   False                                          False
4                   False                                          False

  category_Sofas & armchairs  category_TV & media furniture  \
0                      False                          False
1                      False                          False
2                      False                          False
3                      False                          False
4                      False                          False

   category_Tables & desks  category_Trolleys  category_Wardrobes
0                    False              False               False
1                    False              False               False
2                    False              False               False
3                    False              False               False
4                    False              False               False

[5 rows x 33 columns]

### 17. Convert a Categorical Column to Numerical Using Label Encoding

In [76]:
le = LabelEncoder()
df['category_encoded'] = le.fit_transform(df['category'])
print("\nDataFrame after label encoding 'category' column:")
print(df.head())

DataFrame after label encoding 'category' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized  short_name  \
0    NaN    99.0   51.0            291.5          0.027343    frekvens
1    NaN   105.0   80.0           1094.5          0.103527   nordviken
2    NaN     NaN    NaN           2304.5          0.218326  nordviken
3   50.0   100.0   60.0             75.9          0.006888        stig
4   60.0    43.0   74.0            247.5          0.023168     norberg

   category_encoded
0                 0
1                 0
2                 0
3                 0
4                 0

### 18. Group Values in a Categorical Column and Create a New Column with Grouped Categories

In [77]:
def categorize_dept(x):
    if x in ['HR', 'Admin']:
        return 'Support'
    elif x in ['Engineering', 'IT']:
        return 'Technical'
    else:
        return 'Others'

df['category_group'] = df['category'].apply(categorize_dept)
print("\nDataFrame after grouping 'category' into broader categories:")
print(df.head())

DataFrame after grouping 'category' into broader categories:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized  short_name  \
0    NaN    99.0   51.0            291.5          0.027343    frekvens
1    NaN   105.0   80.0           1094.5          0.103527   nordviken
2    NaN     NaN    NaN           2304.5          0.218326  nordviken
3   50.0   100.0   60.0             75.9          0.006888        stig
4   60.0    43.0   74.0            247.5          0.023168     norberg

   category_encoded category_group
0                 0         Others
1                 0         Others
2                 0         Others
3                 0         Others
4                 0         Others

### 19. Merge Two DataFrames Based on a Common Column

In [78]:
additional_data = {
    'item_id': [1, 2, 3, 4, 5],
    'rating': [4.5, 4.0, 3.5, 4.0, 5.0]
}
df_additional = pd.DataFrame(additional_data)
df_merged = pd.merge(df, df_additional, on='item_id', how='inner')
print("\nDataFrame after merging with additional data on 'item_id':")
print(df_merged.head())

DataFrame after merging with additional data on 'item_id':
Empty DataFrame
Columns: [Unnamed: 0, item_id, name, category, price, old_price, sellable_online, link, other_colors, short_description, designer, depth, height, width, price_increased, price_normalized, short_name, category_encoded, category_group, rating]
Index: []

### 20. Concatenate Two DataFrames Vertically

In [79]:
df_concat_vertical = pd.concat([df, df], axis=0)
print("\nDataFrame after vertical concatenation:")
print(df_concat_vertical)

DataFrame after vertical concatenation:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               frekvens  Bar furniture   265.0
1              1    368814              nordviken  Bar furniture   995.0
2              2   9333523  nordviken / nordviken  Bar furniture  2095.0
3              3  80155205                   stig  Bar furniture    69.0
4              4  30180504                norberg  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                elvarli      Wardrobes   750.0
3690        3690   9158152                elvarli      Wardrobes  1572.0
3691        3691  59157541                elvarli      Wardrobes   924.0
3692        3692  89157573                elvarli      Wardrobes  2745.0
3693        3693  69157376                elvarli      Wardrobes  1231.0

      old_price  sellable_online  \
0           NaN             True
1           NaN            False
2           NaN            False
3           NaN             True
4           NaN             True
...         ...              ...
3689        NaN             True
3690        NaN             True
3691        NaN             True
3692        NaN             True
3693        NaN             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description              designer  \
0              Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                         Bar table,          140x80 cm     Francis Cayouette
2                            Bar table and 4 bar stools     Francis Cayouette
3               Bar stool with backrest,          74 cm         Henrik Preutz
4             Wall-mounted drop-leaf table,         ...        Marcus Arvonen
...                                                 ...                   ...
3689               1 section,          92x51x222-350 cm       Ehlén Johansson
3690             2 sections,          135x51x222-350 cm       Ehlén Johansson
3691             2 sections,          175x51x222-350 cm       Ehlén Johansson
3692             3 sections,          178x51x222-350 cm       Ehlén Johansson
3693             2 sections,          175x51x222-350 cm       Ehlén Johansson

      depth  height  width  price_increased  price_normalized  short_name  \
0       NaN    99.0   51.0            291.5          0.027343    frekvens
1       NaN   105.0   80.0           1094.5          0.103527   nordviken
2       NaN     NaN    NaN           2304.5          0.218326  nordviken
3      50.0   100.0   60.0             75.9          0.006888        stig
4      60.0    43.0   74.0            247.5          0.023168     norberg
...     ...     ...    ...              ...               ...         ...
3689   50.0     NaN   91.0            825.0          0.077959     elvarli
3690   50.0     NaN  135.0           1729.2          0.163745     elvarli
3691   50.0     NaN  175.0           1016.4          0.096118     elvarli
3692   50.0     NaN  178.0           3019.5          0.286162     elvarli
3693   50.0     NaN  175.0           1354.1          0.128157     elvarli

      category_encoded category_group
0                    0         Others
1                    0         Others
2                    0         Others
3                    0         Others
4                    0         Others
...                ...            ...
3689                16         Others
3690                16         Others
3691                16         Others
3692                16         Others
3693                16         Others

[7388 rows x 19 columns]

### 21. Concatenate Two DataFrames Horizontally

In [80]:
df_concat_horizontal = pd.concat([df, df_additional], axis=1)
print("\nDataFrame after horizontal concatenation:")
print(df_concat_horizontal)

DataFrame after horizontal concatenation:
      Unnamed: 0   item_id                   name       category   price  \
0              0  90420332               frekvens  Bar furniture   265.0
1              1    368814              nordviken  Bar furniture   995.0
2              2   9333523  nordviken / nordviken  Bar furniture  2095.0
3              3  80155205                   stig  Bar furniture    69.0
4              4  30180504                norberg  Bar furniture   225.0
...          ...       ...                    ...            ...     ...
3689        3689  99157902                elvarli      Wardrobes   750.0
3690        3690   9158152                elvarli      Wardrobes  1572.0
3691        3691  59157541                elvarli      Wardrobes   924.0
3692        3692  89157573                elvarli      Wardrobes  2745.0
3693        3693  69157376                elvarli      Wardrobes  1231.0

      old_price  sellable_online  \
0           NaN             True
1           NaN            False
2           NaN            False
3           NaN             True
4           NaN             True
...         ...              ...
3689        NaN             True
3690        NaN             True
3691        NaN             True
3692        NaN             True
3693        NaN             True

                                                   link other_colors  \
0     https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1     https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2     https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3     https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4     https://www.ikea.com/sa/en/p/norberg-wall-moun...           No
...                                                 ...          ...
3689  https://www.ikea.com/sa/en/p/elvarli-1-section...           No
3690  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3691  https://www.ikea.com/sa/en/p/elvarli-2-section...           No
3692  https://www.ikea.com/sa/en/p/elvarli-3-section...           No
3693  https://www.ikea.com/sa/en/p/elvarli-2-section...           No

                                      short_description  ... depth  height  \
0              Bar table, in/outdoor,          51x51 cm  ...   NaN    99.0
1                         Bar table,          140x80 cm  ...   NaN   105.0
2                            Bar table and 4 bar stools  ...   NaN     NaN
3               Bar stool with backrest,          74 cm  ...  50.0   100.0
4             Wall-mounted drop-leaf table,         ...  ...  60.0    43.0
...                                                 ...  ...   ...     ...
3689               1 section,          92x51x222-350 cm  ...  50.0     NaN
3690             2 sections,          135x51x222-350 cm  ...  50.0     NaN
3691             2 sections,          175x51x222-350 cm  ...  50.0     NaN
3692             3 sections,          178x51x222-350 cm  ...  50.0     NaN
3693             2 sections,          175x51x222-350 cm  ...  50.0     NaN

      width  price_increased  price_normalized  short_name category_encoded  \
0      51.0            291.5          0.027343    frekvens                0
1      80.0           1094.5          0.103527   nordviken                0
2       NaN           2304.5          0.218326  nordviken                 0
3      60.0             75.9          0.006888        stig                0
4      74.0            247.5          0.023168     norberg                0
...     ...              ...               ...         ...              ...
3689   91.0            825.0          0.077959     elvarli               16
3690  135.0           1729.2          0.163745     elvarli               16
3691  175.0           1016.4          0.096118     elvarli               16
3692  178.0           3019.5          0.286162     elvarli               16
3693  175.0           1354.1          0.128157     elvarli               16

      category_group item_id  rating
0             Others     1.0     4.5
1             Others     2.0     4.0
2             Others     3.0     3.5
3             Others     4.0     4.0
4             Others     5.0     5.0
...              ...     ...     ...
3689          Others     NaN     NaN
3690          Others     NaN     NaN
3691          Others     NaN     NaN
3692          Others     NaN     NaN
3693          Others     NaN     NaN

[3694 rows x 21 columns]

### 22. Create a New Column Based on Existing Columns

In [81]:
df['price_diff'] = df['price'] - df['old_price']
print("\nDataFrame after creating 'price_diff' column:")
print(df.head())

DataFrame after creating 'price_diff' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description              designer  \
0           Bar table, in/outdoor,          51x51 cm  Nicholai Wiig Hansen
1                      Bar table,          140x80 cm     Francis Cayouette
2                         Bar table and 4 bar stools     Francis Cayouette
3            Bar stool with backrest,          74 cm         Henrik Preutz
4          Wall-mounted drop-leaf table,         ...        Marcus Arvonen

   depth  height  width  price_increased  price_normalized  short_name  \
0    NaN    99.0   51.0            291.5          0.027343    frekvens
1    NaN   105.0   80.0           1094.5          0.103527   nordviken
2    NaN     NaN    NaN           2304.5          0.218326  nordviken
3   50.0   100.0   60.0             75.9          0.006888        stig
4   60.0    43.0   74.0            247.5          0.023168     norberg

   category_encoded category_group  price_diff
0                 0         Others         NaN
1                 0         Others         NaN
2                 0         Others         NaN
3                 0         Others         NaN
4                 0         Others         NaN

### 23. Discretize a Continuous Column into Bins

In [82]:
df['price_bins'] = pd.cut(df['price'], bins=3, labels=['Low', 'Medium', 'High'])
print("\nDataFrame after binning 'price' column:")
print(df.head())

DataFrame after binning 'price' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description  ... depth  height  \
0           Bar table, in/outdoor,          51x51 cm  ...   NaN    99.0
1                      Bar table,          140x80 cm  ...   NaN   105.0
2                         Bar table and 4 bar stools  ...   NaN     NaN
3            Bar stool with backrest,          74 cm  ...  50.0   100.0
4          Wall-mounted drop-leaf table,         ...  ...  60.0    43.0

   width  price_increased  price_normalized  short_name category_encoded  \
0   51.0            291.5          0.027343    frekvens                0
1   80.0           1094.5          0.103527   nordviken                0
2    NaN           2304.5          0.218326  nordviken                 0
3   60.0             75.9          0.006888        stig                0
4   74.0            247.5          0.023168     norberg                0

   category_group price_diff  price_bins
0          Others        NaN         Low
1          Others        NaN         Low
2          Others        NaN         Low
3          Others        NaN         Low
4          Others        NaN         Low

[5 rows x 21 columns]

### 24. Create Polynomial Features from Existing Numerical Columns

In [83]:
df['price_squared'] = df['price'] ** 2
print("\nDataFrame after creating polynomial features from 'price' column:")
print(df.head())

DataFrame after creating polynomial features from 'price' column:
   Unnamed: 0   item_id                   name       category   price  \
0           0  90420332               frekvens  Bar furniture   265.0
1           1    368814              nordviken  Bar furniture   995.0
2           2   9333523  nordviken / nordviken  Bar furniture  2095.0
3           3  80155205                   stig  Bar furniture    69.0
4           4  30180504                norberg  Bar furniture   225.0

   old_price  sellable_online  \
0        NaN             True
1        NaN            False
2        NaN            False
3        NaN             True
4        NaN             True

                                                link other_colors  \
0  https://www.ikea.com/sa/en/p/frekvens-bar-tabl...           No
1  https://www.ikea.com/sa/en/p/nordviken-bar-tab...           No
2  https://www.ikea.com/sa/en/p/nordviken-nordvik...           No
3  https://www.ikea.com/sa/en/p/stig-bar-stool-wi...          Yes
4  https://www.ikea.com/sa/en/p/norberg-wall-moun...           No

                                   short_description  ... height  width  \
0           Bar table, in/outdoor,          51x51 cm  ...   99.0   51.0
1                      Bar table,          140x80 cm  ...  105.0   80.0
2                         Bar table and 4 bar stools  ...    NaN    NaN
3            Bar stool with backrest,          74 cm  ...  100.0   60.0
4          Wall-mounted drop-leaf table,         ...  ...   43.0   74.0

   price_increased  price_normalized  short_name  category_encoded  \
0            291.5          0.027343    frekvens                 0
1           1094.5          0.103527   nordviken                 0
2           2304.5          0.218326  nordviken                  0
3             75.9          0.006888        stig                 0
4            247.5          0.023168     norberg                 0

  category_group  price_diff price_bins  price_squared
0         Others         NaN        Low        70225.0
1         Others         NaN        Low       990025.0
2         Others         NaN        Low      4389025.0
3         Others         NaN        Low         4761.0
4         Others         NaN        Low        50625.0

[5 rows x 22 columns]