# Task 15: Data Wrangling: Join, Combine, and Reshape

In [1]:
import pandas as pd

## 1. Joining DataFrames

### Inner Join

In [2]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Ali', 'Ahmed', 'Asad']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 35]})
i_j = pd.merge(df1, df2, on='ID', how='inner')
print("Merge on ID using inner join:\n", i_j)

Merge on ID using inner join:
    ID   Name  Age
0   1    Ali   25
1   2  Ahmed   30

### Outer Join

In [3]:
o_j = pd.merge(df1, df2, on='ID', how='outer')
print("Merge on ID using outer join:\n", o_j)

Merge on ID using outer join:
    ID   Name   Age
0   1    Ali  25.0
1   2  Ahmed  30.0
2   3   Asad   NaN
3   4    NaN  35.0

### Left Join

In [4]:
l_j = pd.merge(df1, df2, on='ID', how='left')
print("Merge on ID using left join:\n", l_j)

Merge on ID using left join:
    ID   Name   Age
0   1    Ali  25.0
1   2  Ahmed  30.0
2   3   Asad   NaN

### Right Join

In [5]:
r_j = pd.merge(df1, df2, on='ID', how='right')
print("Merge on ID using right join:\n", r_j)

Merge on ID using right join:
    ID   Name  Age
0   1    Ali   25
1   2  Ahmed   30
2   4    NaN   35

## 2. Concatenating DataFrames

### Concatenation along Rows

In [6]:
df3 = pd.DataFrame({'ID': [4, 5], 'Name': ['Abdul Rehman', 'Awais']})
conc = pd.concat([df1, df3], axis=0)
print("Concatinating along rows:\n", conc)

Concatinating along rows:
    ID          Name
0   1           Ali
1   2         Ahmed
2   3          Asad
0   4  Abdul Rehman
1   5         Awais

### Concatenation along Columns

In [7]:
df4 = pd.DataFrame({'City': ['RWP', 'ISL', 'LHR']})
concat = pd.concat([df1, df4], axis=1)
print("Concatinating along columns:\n", concat)

Concatinating along columns:
    ID   Name City
0   1    Ali  RWP
1   2  Ahmed  ISL
2   3   Asad  LHR

### Concatenate a List of DataFrames

In [8]:
dfs = [df1, df2, df4]
concat_list = pd.concat(dfs, axis=1)
print("Concatenated List:\n", concat_list)

Concatenated List:
    ID   Name  ID  Age City
0   1    Ali   1   25  RWP
1   2  Ahmed   2   30  ISL
2   3   Asad   4   35  LHR

## 3. Merging DataFrames

### Merging on a Single Key

In [9]:
single = pd.merge(df1, df2, on='ID')
print("Single Merge:\n", single)

Single Merge:
    ID   Name  Age
0   1    Ali   25
1   2  Ahmed   30

### Merging on Multiple Keys

In [10]:
df5 = pd.DataFrame({'ID': [1, 2, 3], 'Dept': ['ME', 'PHY', 'CS'], 'Course': ['Calculas', 'Electronics', 'CFP']})
df6 = pd.DataFrame({'ID': [1, 2, 3], 'Dept': ['ME', 'PHY', 'CS'], 'Grade': ['B+', 'A+', 'A-']})
multiple = pd.merge(df5, df6, on=['ID', 'Dept'])
print("Multiple Merge:\n", multiple)

Multiple Merge:
    ID Dept       Course Grade
0   1   ME     Calculas    B+
1   2  PHY  Electronics    A+
2   3   CS          CFP    A-

## 4. Reshaping DataFrames

### Melting

In [11]:
df7 = pd.DataFrame({ 'ID': [1, 2, 3], 'Math': [85, 90, 95], 'Science': [80, 85, 90] })
melted = pd.melt(df7, id_vars=['ID'], value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')
print("Melted reshaping:\n", melted)

Melted reshaping:
    ID  Subject  Score
0   1     Math     85
1   2     Math     90
2   3     Math     95
3   1  Science     80
4   2  Science     85
5   3  Science     90

### Pivoting

In [12]:
df8 = pd.DataFrame({
    'ID': [1, 1, 3, 4],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [85, 80, 90, 85]
})
pivoted = df8.pivot(index='ID', columns='Subject', values='Score')
print("Pivoting Reshape:\n", pivoted)

Pivoting Reshape:
 Subject  Math  Science
ID
1        85.0     80.0
3        90.0      NaN
4         NaN     85.0

### Stack

In [13]:
df9 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Math': [85, 90, 78],
    'Science': [80, 85, 88]
})
stacked = df9.set_index('ID').stack()
print("Printing Stacked DataFrame:\n", stacked)

Printing Stacked DataFrame:
 ID
1   Math       85
    Science    80
2   Math       90
    Science    85
3   Math       78
    Science    88
dtype: int64

### Unstack

In [14]:
unstacked = stacked.unstack()
print("\nPrinting Unstacked DataFrame:\n", unstacked)

Printing Unstacked DataFrame:
     Math  Science
ID
1     85       80
2     90       85
3     78       88

## 5. Grouping and Aggregating Data

### Group By and Aggregate

In [15]:
df10 = pd.DataFrame({
    'ID': [1, 3, 1, 2, 2, 3, 1],
    'Course': ['CFP', 'DSA', 'AOA', 'NLP', 'CFP', 'DSA', 'AOA'],
    'Score': [50, 85, 65, 80, 55, 90, 70]
})
grouped_mean = df10.groupby('Course')['Score'].mean()
print("Grouped Mean Scores:", grouped_mean)

Grouped Mean Scores: Course
AOA    67.5
CFP    52.5
DSA    87.5
NLP    80.0
Name: Score, dtype: float64

### Multiple Aggregation Functions

In [16]:
multiple_aggs = df10.groupby('Course').agg({'Score': ['mean', 'sum', 'count']})
print("\nMultiple Aggregations:\n", multiple_aggs)

Multiple Aggregations:
        Score
        mean  sum count
Course
AOA     67.5  135     2
CFP     52.5  105     2
DSA     87.5  175     2
NLP     80.0   80     1

### Group By and Apply Custom Function

In [17]:
custom_func = df10.groupby('Course')['Score'].apply(lambda x: x.std())
print("\nStandard Deviation of Scores USing Custom Function in Groupby:\n", custom_func)

Standard Deviation of Scores USing Custom Function in Groupby:
 Course
AOA    3.535534
CFP    3.535534
DSA    3.535534
NLP         NaN
Name: Score, dtype: float64

# Mini Project: E-commerce Sales and Customer Data Analysis

### 1. Import Libraries and Create Dataset

In [18]:
import numpy as np

data = {
'Order_ID': [1, 2, 3, 4, 5],
'Customer_ID': [101, 102, 103, 104, 105],
'Product_ID': [1, 2, 1, 3, 2],
'Product_Name': ['Shirt', 'Pants', 'Shirt', 'Shoes', 'Pants'],
'Quantity': [2, 1, 3, 1, 2],
'Price_Per_Unit': [20.0, 30.0, 20.0, 50.0, 25.0],
'Total_Price': [40.0, 30.0, 60.0, 50.0, 50.0],
'Customer_Name': ['Fatima', 'Imran', 'Zain', 'Adil', 'Hamza'],
'Customer_City': ['Karachi', 'Lahore', 'Islamabad', 'Rawalpindi', 'Faisalabad']
}
df_orders = pd.DataFrame(data)
print("Initial dataset:\n", df_orders)

Initial dataset:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City
0         40.0        Fatima       Karachi
1         30.0         Imran        Lahore
2         60.0          Zain     Islamabad
3         50.0          Adil    Rawalpindi
4         50.0         Hamza    Faisalabad

### Merging DataFrames on Single and Multiple Keys

In [19]:
df_customer_info = pd.DataFrame({
'Customer_ID': [101, 102, 103],
'Customer_Email': ['fatima@example.com', 'imran@example.com', 'zainab@example.com'],
'Customer_Age': [28, 35, 30]
})

# Merge on single key (Customer_ID)
merged_single_key = pd.merge(df_orders, df_customer_info, on='Customer_ID', how='left')
print("\nMerged DataFrame on single key (Customer_ID):\n", merged_single_key)

df_product_info = pd.DataFrame({
'Product_ID': [1, 2, 3],
'Product_Name': ['Shirt', 'Pants', 'Shoes'],
'Product_Category': ['Clothing', 'Clothing', 'Footwear'],
'Product_Subcategory': ['Shirt', 'Pants', 'Shoes']
})

# Merge on multiple keys (Product_ID, Product_Name)
merged_multiple_keys = pd.merge(df_orders, df_product_info, on=['Product_ID', 'Product_Name'], how='left')
print("\nMerged DataFrame on multiple keys (Product_ID, Product_Name):\n", merged_multiple_keys)

Merged DataFrame on single key (Customer_ID):
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City      Customer_Email  Customer_Age
0         40.0        Fatima       Karachi  fatima@example.com          28.0
1         30.0         Imran        Lahore   imran@example.com          35.0
2         60.0          Zain     Islamabad  zainab@example.com          30.0
3         50.0          Adil    Rawalpindi                 NaN           NaN
4         50.0         Hamza    Faisalabad                 NaN           NaN

Merged DataFrame on multiple keys (Product_ID, Product_Name):
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City Product_Category  \
0         40.0        Fatima       Karachi         Clothing
1         30.0         Imran        Lahore         Clothing
2         60.0          Zain     Islamabad         Clothing
3         50.0          Adil    Rawalpindi         Footwear
4         50.0         Hamza    Faisalabad         Clothing

  Product_Subcategory
0               Shirt
1               Pants
2               Shirt
3               Shoes
4               Pants

### Performing Different Joins

In [20]:
# Inner Join
inner_joined = pd.merge(df_orders, df_customer_info, on='Customer_ID', how='inner')
print("\nInner Join:\n", inner_joined)

# Outer Join
outer_joined = pd.merge(df_orders, df_customer_info, on='Customer_ID', how='outer')
print("\nOuter Join:\n", outer_joined)

# Left Join
left_joined = pd.merge(df_orders, df_customer_info, on='Customer_ID', how='left')
print("\nLeft Join:\n", left_joined)

# Right Join
right_joined = pd.merge(df_orders, df_customer_info, on='Customer_ID', how='right')
print("\nRight Join:\n", right_joined)

Inner Join:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0

   Total_Price Customer_Name Customer_City      Customer_Email  Customer_Age
0         40.0        Fatima       Karachi  fatima@example.com            28
1         30.0         Imran        Lahore   imran@example.com            35
2         60.0          Zain     Islamabad  zainab@example.com            30

Outer Join:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City      Customer_Email  Customer_Age
0         40.0        Fatima       Karachi  fatima@example.com          28.0
1         30.0         Imran        Lahore   imran@example.com          35.0
2         60.0          Zain     Islamabad  zainab@example.com          30.0
3         50.0          Adil    Rawalpindi                 NaN           NaN
4         50.0         Hamza    Faisalabad                 NaN           NaN

Left Join:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City      Customer_Email  Customer_Age
0         40.0        Fatima       Karachi  fatima@example.com          28.0
1         30.0         Imran        Lahore   imran@example.com          35.0
2         60.0          Zain     Islamabad  zainab@example.com          30.0
3         50.0          Adil    Rawalpindi                 NaN           NaN
4         50.0         Hamza    Faisalabad                 NaN           NaN

Right Join:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0

   Total_Price Customer_Name Customer_City      Customer_Email  Customer_Age
0         40.0        Fatima       Karachi  fatima@example.com            28
1         30.0         Imran        Lahore   imran@example.com            35
2         60.0          Zain     Islamabad  zainab@example.com            30

### Concatenating DataFrames

In [21]:
# Concatenate along rows
concat_rows = pd.concat([df_orders.head(2), df_orders.tail(3)], axis=0)
print("\nConcatenate along Rows:\n", concat_rows)

# Concatenate along columns
concat_cols = pd.concat([df_orders[['Order_ID', 'Customer_ID']], df_orders[['Product_ID', 'Total_Price']]], axis=1)
print("\nConcatenate along Columns:\n", concat_cols)

# Concatenate a list of DataFrames
dfs_list = [df_orders.head(2), df_orders.tail(3)]
concat_list = pd.concat(dfs_list, axis=0)
print("\nConcatenate List of DataFrames:\n", concat_list)

Concatenate along Rows:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City
0         40.0        Fatima       Karachi
1         30.0         Imran        Lahore
2         60.0          Zain     Islamabad
3         50.0          Adil    Rawalpindi
4         50.0         Hamza    Faisalabad

Concatenate along Columns:
    Order_ID  Customer_ID  Product_ID  Total_Price
0         1          101           1         40.0
1         2          102           2         30.0
2         3          103           1         60.0
3         4          104           3         50.0
4         5          105           2         50.0

Concatenate List of DataFrames:
    Order_ID  Customer_ID  Product_ID Product_Name  Quantity  Price_Per_Unit  \
0         1          101           1        Shirt         2            20.0
1         2          102           2        Pants         1            30.0
2         3          103           1        Shirt         3            20.0
3         4          104           3        Shoes         1            50.0
4         5          105           2        Pants         2            25.0

   Total_Price Customer_Name Customer_City
0         40.0        Fatima       Karachi
1         30.0         Imran        Lahore
2         60.0          Zain     Islamabad
3         50.0          Adil    Rawalpindi
4         50.0         Hamza    Faisalabad

### Reshaping Data using Melt

In [22]:
# Melt the DataFrame
melted = pd.melt(df_orders, id_vars=['Order_ID', 'Customer_ID'], value_vars=['Product_Name', 'Quantity'], var_name='Variable', value_name='Value')
print("\nMelted DataFrame:\n", melted)

Melted DataFrame:
    Order_ID  Customer_ID      Variable  Value
0         1          101  Product_Name  Shirt
1         2          102  Product_Name  Pants
2         3          103  Product_Name  Shirt
3         4          104  Product_Name  Shoes
4         5          105  Product_Name  Pants
5         1          101      Quantity      2
6         2          102      Quantity      1
7         3          103      Quantity      3
8         4          104      Quantity      1
9         5          105      Quantity      2

### Creating Pivot Table

In [23]:
# Create Pivot Table
pivot_table = df_orders.pivot_table(index='Customer_City', columns='Product_Name', values='Total_Price', aggfunc='sum')
print("\nPivot Table:\n", pivot_table)

Pivot Table:
 Product_Name   Pants  Shirt  Shoes
Customer_City
Faisalabad      50.0    NaN    NaN
Islamabad        NaN   60.0    NaN
Karachi          NaN   40.0    NaN
Lahore          30.0    NaN    NaN
Rawalpindi       NaN    NaN   50.0

### Grouping Data and Performing Aggregation Functions

In [24]:
# Group by Customer_City and calculate total sales
grouped_sales = df_orders.groupby('Customer_City')['Total_Price'].sum()
print("\nTotal Sales by Customer City:\n", grouped_sales)

# Multiple aggregations
multiple_aggs = df_orders.groupby('Customer_City').agg({'Total_Price': ['sum', 'mean', 'count']})
print("\nMultiple Aggregations on Total Price by Customer City:\n", multiple_aggs)

Total Sales by Customer City:
 Customer_City
Faisalabad    50.0
Islamabad     60.0
Karachi       40.0
Lahore        30.0
Rawalpindi    50.0
Name: Total_Price, dtype: float64

Multiple Aggregations on Total Price by Customer City:
               Total_Price
                      sum  mean count
Customer_City
Faisalabad           50.0  50.0     1
Islamabad            60.0  60.0     1
Karachi              40.0  40.0     1
Lahore               30.0  30.0     1
Rawalpindi           50.0  50.0     1

### Applying Custom Functions to Grouped Data

In [25]:
def avg_price_per_unit(x):
    total_quantity = x['Quantity'].sum()
    total_price = x['Total_Price'].sum()
    return total_price / total_quantity if total_quantity != 0 else 0

avg_price_per_unit_by_city = df_orders.groupby('Customer_City').apply(avg_price_per_unit)
print("\nAverage Price per Unit by Customer City:\n", avg_price_per_unit_by_city)

Average Price per Unit by Customer City:
 Customer_City
Faisalabad    25.0
Islamabad     20.0
Karachi       20.0
Lahore        30.0
Rawalpindi    50.0
dtype: float64

# Practice on a DataSet from Kaggle

### Import the Dataset

In [26]:
df = pd.read_csv('NFL.csv')
print(df.head())

   Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes

### Merge on single key (Player)

In [27]:
df_additional = pd.DataFrame({
    'Player': ['Player A', 'Player B', 'Player C'],
    'Additional_Stat': [100, 150, 200]
})
merged_single_key = pd.merge(df, df_additional, on='Player', how='left')
print("\nMerged DataFrame on single key (Player):\n", merged_single_key.head())

Merged DataFrame on single key (Player):
    Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted  Additional_Stat
0     offense    backs_receivers       RB     Yes              NaN
1     defense  defensive_lineman       DE     Yes              NaN
2     offense  offensive_lineman       OG     Yes              NaN
3     defense     defensive_back       FS     Yes              NaN
4     defense        line_backer      OLB     Yes              NaN

### Inner Join

In [28]:
inner_joined = pd.merge(df, df_additional, on='Player', how='inner')
print("\nInner Join:\n", inner_joined.head())

Inner Join:
 Empty DataFrame
Columns: [Year, Player, Age, School, Height, Weight, Sprint_40yd, Vertical_Jump, Bench_Press_Reps, Broad_Jump, Agility_3cone, Shuttle, Drafted..tm.rnd.yr., BMI, Player_Type, Position_Type, Position, Drafted, Additional_Stat]
Index: []

### Outer Join

In [29]:
outer_joined = pd.merge(df, df_additional, on='Player', how='outer')
print("\nOuter Join:\n", outer_joined.head())

Outer Join:
      Year                   Player   Age       School  Height      Weight  \
0  2009.0    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009.0      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009.0  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009.0  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009.0      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted  Additional_Stat
0     offense    backs_receivers       RB     Yes              NaN
1     defense  defensive_lineman       DE     Yes              NaN
2     offense  offensive_lineman       OG     Yes              NaN
3     defense     defensive_back       FS     Yes              NaN
4     defense        line_backer      OLB     Yes              NaN

### Left Join

In [30]:
left_joined = pd.merge(df, df_additional, on='Player', how='left')
print("\nLeft Join:\n", left_joined.head())

Left Join:
    Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted  Additional_Stat
0     offense    backs_receivers       RB     Yes              NaN
1     defense  defensive_lineman       DE     Yes              NaN
2     offense  offensive_lineman       OG     Yes              NaN
3     defense     defensive_back       FS     Yes              NaN
4     defense        line_backer      OLB     Yes              NaN

### Right Join

In [31]:
right_joined = pd.merge(df, df_additional, on='Player', how='right')
print("\nRight Join:\n", right_joined.head())

Right Join:
    Year    Player  Age School  Height  Weight  Sprint_40yd  Vertical_Jump  \
0   NaN  Player A  NaN    NaN     NaN     NaN          NaN            NaN
1   NaN  Player B  NaN    NaN     NaN     NaN          NaN            NaN
2   NaN  Player C  NaN    NaN     NaN     NaN          NaN            NaN

   Bench_Press_Reps  Broad_Jump  Agility_3cone  Shuttle Drafted..tm.rnd.yr.  \
0               NaN         NaN            NaN      NaN                 NaN
1               NaN         NaN            NaN      NaN                 NaN
2               NaN         NaN            NaN      NaN                 NaN

   BMI Player_Type Position_Type Position Drafted  Additional_Stat
0  NaN         NaN           NaN      NaN     NaN              100
1  NaN         NaN           NaN      NaN     NaN              150
2  NaN         NaN           NaN      NaN     NaN              200

### Concatenate along rows

In [32]:
concat_rows = pd.concat([df.head(), df.head()], axis=0)
print("\nConcatenate along Rows:\n", concat_rows)

Concatenate along Rows:
    Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes

### Concatenate along columns

In [33]:
concat_cols = pd.concat([df.head(), df_additional], axis=1)
print("\nConcatenate along Columns:\n", concat_cols)

Concatenate along Columns:
    Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted    Player  Additional_Stat
0     offense    backs_receivers       RB     Yes  Player A            100.0
1     defense  defensive_lineman       DE     Yes  Player B            150.0
2     offense  offensive_lineman       OG     Yes  Player C            200.0
3     defense     defensive_back       FS     Yes       NaN              NaN
4     defense        line_backer      OLB     Yes       NaN              NaN

### Concatenate list of DataFrames

In [34]:
dfs_list = [df.head(), df.head(), df.head()]
concat_list = pd.concat(dfs_list, axis=0)
print("\nConcatenate List of DataFrames:\n", concat_list)

Concatenate List of DataFrames:
    Year                   Player   Age       School  Height      Weight  \
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538
0  2009    Beanie Wells\WellCh00  20.0     Ohio St.  1.8542  106.594207
1  2009      Will Davis\DaviWi99  22.0     Illinois  1.8796  118.387609
2  2009  Herman Johnson\JohnHe23  24.0          LSU  2.0066  165.107623
3  2009  Rashad Johnson\JohnRa98  23.0      Alabama  1.8034   92.079251
4  2009      Cody Brown\BrowCo96  22.0  Connecticut  1.8796  110.676538

   Sprint_40yd  Vertical_Jump  Bench_Press_Reps  Broad_Jump  Agility_3cone  \
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10
0         4.38          85.09              25.0      325.12            NaN
1         4.84          83.82              27.0      292.10           7.38
2         5.50            NaN              21.0         NaN            NaN
3         4.49          93.98              15.0      304.80           7.09
4         4.76          92.71              26.0      304.80           7.10

   Shuttle                          Drafted..tm.rnd.yr.        BMI  \
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425
0      NaN   Arizona Cardinals / 1st / 31st pick / 2009  31.004194
1     4.45  Arizona Cardinals / 6th / 204th pick / 2009  33.510073
2      NaN  Arizona Cardinals / 5th / 167th pick / 2009  41.005821
3     4.23   Arizona Cardinals / 3rd / 95th pick / 2009  28.312463
4     4.40   Arizona Cardinals / 2nd / 63rd pick / 2009  31.327425

  Player_Type      Position_Type Position Drafted
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes
0     offense    backs_receivers       RB     Yes
1     defense  defensive_lineman       DE     Yes
2     offense  offensive_lineman       OG     Yes
3     defense     defensive_back       FS     Yes
4     defense        line_backer      OLB     Yes

### Melt the DataFrame

In [35]:
melted = pd.melt(df.head(), id_vars=['Player', 'Year'], value_vars=['Sprint_40yd', 'Vertical_Jump'], var_name='Event', value_name='Score')
print("\nMelted DataFrame:\n", melted)

Melted DataFrame:
                     Player  Year          Event  Score
0    Beanie Wells\WellCh00  2009    Sprint_40yd   4.38
1      Will Davis\DaviWi99  2009    Sprint_40yd   4.84
2  Herman Johnson\JohnHe23  2009    Sprint_40yd   5.50
3  Rashad Johnson\JohnRa98  2009    Sprint_40yd   4.49
4      Cody Brown\BrowCo96  2009    Sprint_40yd   4.76
5    Beanie Wells\WellCh00  2009  Vertical_Jump  85.09
6      Will Davis\DaviWi99  2009  Vertical_Jump  83.82
7  Herman Johnson\JohnHe23  2009  Vertical_Jump    NaN
8  Rashad Johnson\JohnRa98  2009  Vertical_Jump  93.98
9      Cody Brown\BrowCo96  2009  Vertical_Jump  92.71

### Create Pivot Table

In [36]:
pivot_table = df.pivot_table(index='Year', columns='Position', values='Sprint_40yd', aggfunc='mean')
print("\nPivot Table:\n", pivot_table)

Pivot Table:
 Position         C        CB    DB        DE        DT        FB        FS  \
Year
2009      5.225833  4.488529   NaN  4.798000  5.031250  4.691000  4.496154
2010      5.228750  4.493636   NaN  4.846087  5.083846  4.770000  4.526154
2011      5.193333  4.482857   NaN  4.819615  5.088750  4.824286  4.567000
2012      5.248571  4.504444   NaN  4.792917  5.049655  4.647500  4.535714
2013      5.328889  4.490000   NaN  4.812083  5.143600  4.832000  4.618333
2014      5.224167  4.513333   NaN  4.848696  5.106538  4.807500  4.565000
2015      5.191250  4.506061   NaN  4.814167  5.123077  4.780000  4.600714
2016      5.208889  4.498378   NaN  4.879375  5.070000  4.724000  4.591000
2017      5.352000  4.491290   NaN  4.792800  5.110556  4.840000  4.528571
2018      5.286667  4.499722  4.46  4.837692  5.154000       NaN       NaN
2019           NaN  4.504688   NaN       NaN       NaN  4.890000       NaN

Position       ILB         K     LS        OG       OLB        OT         P  \
Year
2009      4.695714  4.825000  4.990  5.310909  4.656190  5.189600  4.858333
2010      4.803529  4.940000  5.080  5.290000  4.697273  5.204000  4.820000
2011      4.722000  4.938000  5.000  5.341364  4.679565  5.262917  4.805000
2012      4.678333  5.035000  4.820  5.260000  4.667200  5.243333  4.906667
2013      4.778571  4.790000  5.050  5.251000  4.705769  5.194828  4.917778
2014      4.812727  4.860000  4.910  5.243810  4.700000  5.213529  4.972000
2015      4.755000  5.068000  4.910  5.389000  4.728400  5.216400  5.075714
2016      4.787647  4.851667  4.950  5.286000  4.688182  5.238824  4.996667
2017      4.741818  4.790000  5.245  5.250952  4.680588  5.323571  4.810000
2018      4.716667  4.940000  5.000  5.291667  4.620769  5.255000  4.905000
2019           NaN       NaN  5.000       NaN       NaN  5.193600  4.693333

Position        QB        RB         S        SS        TE        WR
Year
2009      4.862381  4.515769       NaN  4.520000  4.726000  4.455682
2010      4.823889  4.537200       NaN  4.575000  4.705556  4.513478
2011      4.801111  4.535000       NaN  4.585455  4.722000  4.496087
2012      4.746316  4.502222       NaN  4.558125  4.700833  4.477872
2013      4.850625  4.590000       NaN  4.550000  4.766842  4.505263
2014      4.858235  4.577187       NaN  4.570909  4.773810  4.509796
2015      4.817143  4.603333       NaN  4.578750  4.811111  4.502500
2016      4.837222  4.530833       NaN  4.581667  4.757857  4.546047
2017      4.790833  4.553333       NaN  4.523636  4.665333  4.520612
2018      4.855294  4.589231  4.525000       NaN  4.740769  4.518108
2019      4.776000  4.561818  4.542727       NaN  4.751579  4.495946

### Group by Position and calculate mean Sprint_40yd and Multiple aggregations

In [37]:
grouped_mean = df.groupby('Position')['Sprint_40yd'].mean()
print("\nGrouped Mean Sprint_40yd by Position:\n", grouped_mean)
multiple_aggs = df.groupby('Position').agg({'Sprint_40yd': ['mean', 'sum', 'count']})
print("\nMultiple Aggregations on Sprint_40yd by Position:\n", multiple_aggs)

Grouped Mean Sprint_40yd by Position:
 Position
C      5.241882
CB     4.497723
DB     4.460000
DE     4.824895
DT     5.093862
FB     4.762500
FS     4.560319
ILB    4.751314
K      4.910000
LS     5.014615
OG     5.292043
OLB    4.686696
OT     5.226628
P      4.911667
QB     4.821189
RB     4.555523
S      4.534286
SS     4.561456
TE     4.741620
WR     4.503646
Name: Sprint_40yd, dtype: float64

Multiple Aggregations on Sprint_40yd by Position:
          Sprint_40yd
                mean      sum count
Position
C           5.241882   445.56    85
CB          4.497723  1718.13   382
DB          4.460000     4.46     1
DE          4.824895  1153.15   239
DT          5.093862  1253.09   246
FB          4.762500   228.60    48
FS          4.560319   428.67    94
ILB         4.751314   650.93   137
K           4.910000   171.85    35
LS          5.014615    65.19    13
OG          5.292043   984.32   186
OLB         4.686696  1077.94   230
OT          5.226628  1348.47   258
P           4.911667   265.23    54
QB          4.821189   891.92   185
RB          4.555523  1393.99   306
S           4.534286   190.44    42
SS          4.561456   469.83   103
TE          4.741620   848.75   179
WR          4.503646  2161.75   480

### Custom function: standard deviation of Sprint_40yd

In [38]:
custom_func = df.groupby('Position')['Sprint_40yd'].apply(lambda x: x.std())
print("\nStandard Deviation of Sprint_40yd by Position:\n", custom_func)

Standard Deviation of Sprint_40yd by Position:
 Position
C      0.145606
CB     0.090564
DB          NaN
DE     0.134810
DT     0.173003
FB     0.133073
FS     0.096134
ILB    0.125022
K      0.146348
LS     0.129010
OG     0.184444
OLB    0.116722
OT     0.177057
P      0.140950
QB     0.167230
RB     0.110738
S      0.126455
SS     0.084057
TE     0.135369
WR     0.097032
Name: Sprint_40yd, dtype: float64